<apex:component >

<style>
.ui-content { padding:16px 0px;}
 /*.ui-mobile-rendering > * { visibility: visible; }*/
.adjust {
	border-collapse:collapse;
	border:1px solid lightgrey;
	min-width:750px;
	max-width:1024px;
}
.level1 {
	background:#4d8b01;
	color:#ffffff;
	font-weight: 300;
	padding: 5px 10px;
	font-size: 18px;
}
.level2 {
	background:#0256a5;
	color:#ffffff;
	font-weight: 300;
	padding: 5px;
}
.level3 {
	font-size:125%;
	background:#edf3e6;
	padding:10px;
}
.roleemp {
	width:40%;
}
.hours {
	width:30%;
}
.adjust th .level1 {
}
.adjust th .level2 {
	border:1px solid lightgrey;
}
.adjust td {
	border:1px solid lightgrey;
}
.left {
	text-align:left;
	padding-left:8px;
}
.right {
	text-align:right;
	padding-right:8px;
}
.center {
	text-align:center;
}
.inputnum {
	width:50px;
	text-align:right;
    vertical-align:top;
    padding:10px 20px 10px 0px;
    background:lightyellow;
}
.inputnum input {
	text-align:right;
	padding-right:20px;
}
.bodytable {
	width:100%;
	border-collapse:collapse;
	border:0px;
	margin:0px;
	padding:0px;
}
.redDelete {
	background:red;
}
.productselect {
	padding:3px 8px;
	min-width:300px;
}
.prodcustinput {
	min-width:300px;
	height:50px;"
}
.productcount {
	padding:3px 20px;
	width:150px;
	text-align:right;
}
.productlistprice {
	padding:3px 20px;
	width:150px;
	text-align:right;
}
</style>

</apex:component>