<apex:component >

<apex:attribute name="jobId" type="String" description="" required="true" />

<script>

    $j(document).on( "pageinit", function() {

		// add handlers for hours number pad buttons
		$j('.numero').click(function() {
			if (!isNaN($j('#hoursInput').val())) {
				if (parseFloat($j('#hoursInput').val()) == 0) {
					$j('#hoursInput').val($j(this).text());
				} 
				else if(!$j('#hoursInput').val().endsWith('.5')) {
					$j('#hoursInput').val($j('#hoursInput').val() + $j(this).text());
				}
			}
		});
		
		$j('.pointfive').click(function(){
			var val = $j('#hoursInput').val();
			console.log('val: '+val);
			if (!isNaN(val) && val.length > 0) {
				if (!val.endsWith('.5') && parseFloat($j('#hoursInput').val()) >= 0) {
					$j('#hoursInput').val(parseFloat($j('#hoursInput').val()) +.5);
				}
			}
			else {
				$j('#hoursInput').val('.5');
			}
		});
		
		$j('.del').click(function() {
			var val = $j('#hoursInput').val();
			if (val.endsWith('.5')) {
		    $j('#hoursInput').val($j('#hoursInput').val().substring(0,$j('#hoursInput').val().length - 2));      		
			}
			else {
		    $j('#hoursInput').val($j('#hoursInput').val().substring(0,$j('#hoursInput').val().length - 1));
			}
		});
		
		$j('.clear').click(function(){
		    $j('#hoursInput').val('');
		});
		     
		$j('.zero').click(function(){
			if (!isNaN($j('#hoursInput').val()) && !$j('#hoursInput').val().endsWith('.5')) {
				if (parseFloat($j('#hoursInput').val()) != 0 ) {
					$j('#hoursInput').val($j('#hoursInput').val() + $j(this).text());
				}
			}
		});

		// alert dialog
		//
		$j('.alertOkay').click(function(){ $j("#popupAlert").popup("close", { "transition": "pop" }); });
		$j('.alertFix').click(function(){ $j("#popupAlert").popup("close", { "transition": "pop" }); });
		$j('.alertIgnore').click(function(){ $j("#popupAlert").popup("close", { "transition": "pop" }); saveAndClose(); });
		
		// slip dialog
		//
		$j('.slipCancel').click(function () { $j("#popupSlip").popup("close", { "transition": "pop" }); });
		$j('.slipAdd').click(function () { saveHoursFromSlipDialog(); });
		
		// new staffer dialog
		//
		$j('.staffCancel').click(function () { $j("#popupNewStaffer").popup("close", { "transition": "pop" }); });
		$j('.staffAdd').click(function () { saveStafferFromDialog(); });

    });
  
 
    function selectWeek(wk) {
		$j.mobile.loading( "show" );
		ts = undefined;

       	// remote action - ajax call, any final changes done in the result function
       	var jobId = '{!jobId}';
		console.log('jobId: '+jobId);
	    Timesheet_Controller2.getTimesheet(
	        wk, jobId, 
	        function(result, event) {
	        	console.log('getTimesheet, result: '+result);
	        	console.log('getTimesheet, event: '+event);
	            if (event.status) {
	            	//alert('result: \n'+result);
			    	if (result.substr(0,5) === 'Error') {
			    		alert('Error while getting timesheet:\n'+result);
			    	}
			    	else {
			    		try {
				    		ts = JSON.parse(result);
				    		
					   		// update Job table
					   		$j('#weekStartDate').text(ts.lstDays[0]);
					   		$j('#weekEndDate').text(ts.lstDays[6]);
					   		console.log('Timesheet status: '+ts.tsStatus);					    		
					   		$j('#jobStatus').text(ts.tsStatus);
					   		if (ts.tsStatus === 'Open') {
					   			$j('#submitButton').show();
					   			$j('#approveButton').hide();
					   		}
					   		else if (ts.tsStatus === 'Submitted by Foreman') {
					   			$j('#submitButton').hide();
					   			$j('#approveButton').show();
					   		}

				    		var h = buildWeekView(ts);
							//console.log('h: '+h);
							$j('#weekTableDiv').replaceWith(h);

							$j.mobile.loading( "hide" );
				    		showWeek();
			    		}
			    		catch (e) {
							$j.mobile.loading( "hide" );
			    			alert('There was a problem getting the timesheet: '+e);
			    		}
			    	
			    	}
			        //$j('body').unmask();

	            } else if (event.type === 'exception') {
	                alert('exception: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
	            } else {
	                alert('errors: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
	            }
				$j.mobile.loading( "hide" );
		        //alert('loaded');			        
	        }, 
	        {escape: false}
	    );
    }

    function selectDay(dy, elem) {
    	console.log('selectDay: '+dy);
    	elem.style.color = 'yellow';
    	$j('#overall').css('background', 'lightgray');
		$j.mobile.loading( "show" );
		
		dd = undefined;

       	// remote action - ajax call, any final changes done in the result function
       	var jobId = '{!jobId}';
		console.log('jobId: '+jobId);
		console.log('ts.tsId: '+ts.tsId);
	    Timesheet_Controller2.getDay(
	        ts.startOfWeek, dy, jobId, ts.tsId,
	        function(result, event) {
	        	console.log('getDay, result: '+result);
	        	console.log('getDay, event: '+event);
	            if (event.status) {
	            	//alert('result: \n'+result);
			    	if (result.substr(0,5) === 'Error') {
			    		alert('Error while getting selected day:\n'+result);
			    	}
			    	else {
			    		try {
				    		dd = JSON.parse(result);

				    		// update Job table
				    		$j('#selectedDayName').text(dd.selectedDayName);
				    		$j('#selectedDay').text(dy);

							var h = buildDayView(dd);

							// create day view
							//console.log('h: '+h);
							$j('#dayTableDiv').replaceWith(h);

				    		showDay();
				    		
				    		var sh = buildSlipTable(dd.lstAllSlips);
							$j('#slipPlaceholder').replaceWith(sh);		
				    		
							$j.mobile.loading( "hide" );
			    		}
			    		catch (e) {
							$j.mobile.loading( "hide" );
			    			alert('There was a problem getting the data: '+e);
			    		}
			    	
			    	}
			        //$j('body').unmask();					        

	            } else if (event.type === 'exception') {
	                alert('exception: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
	            } else {
	                alert('errors: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
	            }
		    	$j('#overall').css('background', 'none');
				$j.mobile.loading( "hide" );
	        }, 
	        {escape: false}
	    );
    }

    function showSelect() {
        console.log('showWeek');
        $j('#selectDiv').show();
        $j('#weekDiv').hide();
        $j('#dayDiv').hide();
    }

    function showWeek() {
        console.log('showWeek');
        $j('#selectDiv').hide();
        $j('#weekDiv').show();
        $j('#dayDiv').hide();
    }

    function showDay() {
        console.log('showDay');
        $j('#selectDiv').hide();
        $j('#weekDiv').hide();
        $j('#dayDiv').show();
    }
    
    function buildWeekView(ts) {

		// create weekly view
		//
		// header
		//
		var h = 
			'<div id="weekTableDiv">'
			+ '<table class="mainTable">'
			+ '<tr>'
		    + '<th style="min-width:75px;">Name</th>'
		    + '<th style="min-width:60px;">Rate</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[0] + '\', this);">' + ts.lstDayNames[0] + '<br/>' + ts.lstDaysShort[0] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[1] + '\', this);">' + ts.lstDayNames[1] + '<br/>' + ts.lstDaysShort[1] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[2] + '\', this);">' + ts.lstDayNames[2] + '<br/>' + ts.lstDaysShort[2] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[3] + '\', this);">' + ts.lstDayNames[3] + '<br/>' + ts.lstDaysShort[3] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[4] + '\', this);">' + ts.lstDayNames[4] + '<br/>' + ts.lstDaysShort[4] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[5] + '\', this);">' + ts.lstDayNames[5] + '<br/>' + ts.lstDaysShort[5] + '</th>'
		    + '<th class="centr link' + ts.isWeekEditable + '" onclick="if (ts.isWeekEditable) selectDay(\'' + ts.lstDays[6] + '\', this);">' + ts.lstDayNames[6] + '<br/>' + ts.lstDaysShort[6] + '</th>'
		    + '<th></th>'
		    + '<th class="centr" >Phase<br/>1</th>'
		    + '<th class="centr" >Phase<br/>2</th>'
		    + '<th class="centr" >Phase<br/>3</th>'
		    + '<th class="centr" >Phase<br/>4</th>'
		    + '<th class="centr" >Phase<br/>5</th>'
		    + '<th class="centr" >Weekly<br/>Total</th>'
		    + '</tr>';
			
		// add staffers
		//
		for (var i=0; i<ts.lstStaffers.length; i++) {
			for (var j=0; j<6; j++) {
				var lstHours;
				if (j == 0) lstHours = ts.lstStaffers[i].lstR;
				if (j == 1) lstHours = ts.lstStaffers[i].lstOT;
				if (j == 2) lstHours = ts.lstStaffers[i].lstDT;
				if (j == 3) lstHours = ts.lstStaffers[i].lstPTOOT;
				if (j == 4) lstHours = ts.lstStaffers[i].lstPTODT;
				if (j == 5) lstHours = ts.lstStaffers[i].lstTotal;
			
				h += '<tr>'
				h += '<td>';
				if (j == 0) {
					h += ts.lstStaffers[i].name;
				}
				else if (j == 1) {
					h += ts.lstStaffers[i].role;
				}
				h += '</td>';

				if (j == 0) h += '<td>R</td>';
				if (j == 1) h += '<td>OT</td>';
				if (j == 2) h += '<td>DT</td>';
				if (j == 3) h += '<td>PTO - OT</td>';
				if (j == 4) h += '<td>PTO - DT</td>';
				if (j == 5) h += '<td style="font-weight:bold;">TOTAL</td>';

				h += '<td class="viewCell" >' + lstHours[0] + '</td>';
				
				if (j == 0) {
					if (ts.isLCN) {
						h += '<td class="darkCell" ></td>';
						h += '<td class="darkCell" ></td>';
					}
					else {
					 	h += '<td class="viewCell" >' + lstHours[1] + '</td>';
				    	h += '<td class="viewCell" >' + lstHours[2] + '</td>';
				    }
			    	h += '<td class="viewCell" >' + lstHours[3] + '</td>';
					if (ts.isLCN) {
						h += '<td class="viewCell" >' + lstHours[4] + '</td>';
						h += '<td class="viewCell" >' + lstHours[5] + '</td>';
					}
					else {
						h += '<td class="darkCell" ></td>';
						h += '<td class="darkCell" ></td>';
					}
				}
				else {
			    	h += '<td class="viewCell" >' + lstHours[1] + '</td>';
			    	h += '<td class="viewCell" >' + lstHours[2] + '</td>';
			    	h += '<td class="viewCell" >' + lstHours[3] + '</td>';
			    	h += '<td class="viewCell" >' + lstHours[4] + '</td>';
			    	h += '<td class="viewCell" >' + lstHours[5] + '</td>';
				}
				
				h += '<td class="viewCell" >' + lstHours[6] + '</td>';
				h += '<th></th>';
				h += '<td class="viewCell" >' + lstHours[7] + '</td>';
				h += '<td class="viewCell" >' + lstHours[8] + '</td>';
				h += '<td class="viewCell" >' + lstHours[9] + '</td>';
				h += '<td class="viewCell" >' + lstHours[10] + '</td>';
				
				if (j == 3 || j == 4) {
					h += '<td class="darkCell" ></td>';
				}
				else {
					h += '<td class="viewCell" >' + lstHours[11] + '</td>';
				}
				
				h += '<td class="viewCell" >' + lstHours[12] + '</td>';
				h += '</tr>';
			}
			h += '<tr>';
			h += '<th colspan="16" ></th>';
			h += '</tr>';
		}

		// totals
		//
		for (var j=0; j<6; j++) {
			var lstHours;
			if (j == 0) lstHours = ts.totals.lstR;
			if (j == 1) lstHours = ts.totals.lstOT;
			if (j == 2) lstHours = ts.totals.lstDT;
			if (j == 3) lstHours = ts.totals.lstPTOOT;
			if (j == 4) lstHours = ts.totals.lstPTODT;
			if (j == 5) lstHours = ts.totals.lstTotal;

			h += '<tr>';
			h += '<th>';									
			if (j == 0) h += 'Daily Totals';
			h += '</th>';
			if (j == 0) h += '<td>R</td>';
			if (j == 1) h += '<td>OT</td>';
			if (j == 2) h += '<td>DT</td>';
			if (j == 3) h += '<td>PTO - OT</td>';
			if (j == 4) h += '<td>PTO - DT</td>';
			if (j == 5) h += '<td style="font-weight:bold;">TOTAL</td>';
			h += '<td class="viewCell" >' + lstHours[0] + '</td>';
			h += '<td class="viewCell" >' + lstHours[1] + '</td>';
			h += '<td class="viewCell" >' + lstHours[2] + '</td>';
			h += '<td class="viewCell" >' + lstHours[3] + '</td>';
			h += '<td class="viewCell" >' + lstHours[4] + '</td>';
			h += '<td class="viewCell" >' + lstHours[5] + '</td>';
			h += '<td class="viewCell" >' + lstHours[6] + '</td>';
			h += '<th></th>';
			h += '<td class="viewCell" >' + lstHours[7] + '</td>';
			h += '<td class="viewCell" >' + lstHours[8] + '</td>';
			h += '<td class="viewCell" >' + lstHours[9] + '</td>';
			h += '<td class="viewCell" >' + lstHours[10] + '</td>';

			if (j == 3 || j == 4) {
				h += '<td class="darkCell" ></td>';
			}
			else {
				h += '<td class="viewCell" >' + lstHours[11] + '</td>';
			}

			h += '<td class="viewCell" >' + lstHours[12] + '</td>';
			h += '</tr>';
		}

		h += '</table>';


		// slip and pto summary tables
		//
		h += '<div style="width:100%;max-width:800px;">';
		h += '<table style="margin:auto;">';
		h += '<tr>';
		h += '<td style="vertical-align:top;">';
		h += '    <table class="mainTable smallTable">';
		h += '    <tr>';
		h += '        <th colspan="3">Phase 5 Tracking</th>';
		h += '        </tr>';
				
		if (ts.lstTSPhase5.length > 0) {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">SF Slip #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Job Invoice #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Hours</td>';
			h += '        </tr>';
			for (var i=0; i<ts.lstTSPhase5.length; i++) {
				var slipLink = (isSF1 ? 'javascript:getLink(\''+ts.lstTSPhase5[i].slipId+'\');' : '/' + ts.lstTSPhase5[i].slipId);
			
				h += '    <tr>';
				h += '    <td><a href="' + slipLink + '" target="_blank" >' + ts.lstTSPhase5[i].name + '</a></td>';
				h += '    <td>' + ts.lstTSPhase5[i].slipRef + '</td>';
				h += '    <td style="text-align:right;padding-right:8px;">' + ts.lstTSPhase5[i].hoursStr + '</td>';
				h += '    </tr>';
			}
			h += '    <tr>';
			h += '        <th colspan="3"></th>';
			h += '        </tr>';
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="2"><strong>Total</strong></td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:8px;"><strong>' + ts.phase5Total + '</strong></td>';
			h += '        </tr>';
		}
		else {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="3"><strong>There are no Phase 5 slips</strong></td>';
			h += '        </tr>';
		}

		h += '    </table>';

		h += '</td>';
		h += '<td style="vertical-align:top;">';

		h += '    <table class="mainTable smallTable">';
		h += '    <tr>';
		h += '        <th colspan="3">PTO Tracking</th>';
		h += '        </tr>';
		if (ts.lstTSPTO.length > 0) {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">SF Slip #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Job Invoice #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Hours</td>';
			h += '        </tr>';
			for (var i=0; i<ts.lstTSPTO.length; i++) {
				var slipLink = (isSF1 ? 'javascript:getLink(\''+ts.lstTSPTO[i].slipId+'\');' : '/' + ts.lstTSPTO[i].slipId);

				h += '    <tr>';
				h += '    <td><a href="' + slipLink + '" target="_blank" >' + ts.lstTSPTO[i].name + '</a></td>';
				h += '    <td>' + ts.lstTSPTO[i].slipRef + '</td>';
				h += '    <td style="text-align:right;padding-right:8px;">' + ts.lstTSPTO[i].hoursStr + '</td>';
				h += '    </tr>';
			}
			h += '    <tr>';
			h += '        <th colspan="3"></th>';
			h += '        </tr>';
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="2"><strong>Total</strong></td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:8px;"><strong>' + ts.ptoTotal + '</strong></td>';
			h += '        </tr>';
		}
		else {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="3"><strong>There are no PTO slips</strong></td>';
			h += '        </tr>';
		}
		h += '    </table>';

		h += '</td>';
		h += '</tr>';
		h += '</table>';

		h += '</div>';
		
		return h;
    }
    

    function buildDayView(dd) {
		//
		// header
		//
		var h = '';
		h += '<div id="dayTableDiv" class="fullWidth">';
		h += '<table class="mainTable">';
		h += '<tr>';
		h += '    <th style="min-width:150px;">Name</th>';
		h += '    <th style="min-width:70px;">Rate</th>';
		h += '    <th style="min-width:70px;">Phase 1</th>';
			h += '    <th style="min-width:70px;">Phase 2</th>';
		h += '    <th style="min-width:70px;">Phase 3</th>';
		h += '    <th style="min-width:70px;">Phase 4</th>';
		h += '    <th style="min-width:70px;">Phase 5</th>';
		h += '    <th style="min-width:70px;">Daily<br/>Total</th>';
		h += '    <th style="min-width:5px;">&nbsp;</th>';
		h += '    <th style="min-width:70px;">Weekly<br/>Total</th>';
		h += '    </tr>';
			
		// add staffers
		//
		for (var i=0; i<dd.lstStaffers.length; i++) {
			h += buildStafferSection(i, dd.lstStaffers[i]);
		}

		
		// add new staffer button
		//
		h += '<tr id="addNewStafferRow">';
		h += '    <th class="addNewSpan" style="background:gray;" onclick="$j(\'#popupNewStaffer\').popup(\'open\', { \'transition\': \'pop\' });" >Add New</th>';
		h += '    <td colspan="7"></td>';
		h += '    <th></th>';
		h += '    <td></td>';
		h += '    </tr>';
		h += '<tr>';
		h += '    <th colspan="16" ></th>';
		h += '    </tr>';
		
		// totals
		//
		for (var j=0; j<5; j++) {
			var lstHours;
			if (j == 0) lstHours = dd.totals.lstR;
			if (j == 1) lstHours = dd.totals.lstOT;
			if (j == 2) lstHours = dd.totals.lstDT;
			if (j == 3) lstHours = dd.totals.lstPTOOT;
			if (j == 4) lstHours = dd.totals.lstPTODT;

			h += '<tr>';
			h += '    <th>';
			if (j == 0) h+= 'Daily Totals';
			h += '    </th>';
			if (j == 0) h += '<td>R</td>';
			if (j == 1) h += '<td>OT</td>';
			if (j == 2) h += '<td>DT</td>';
			if (j == 3) h += '<td>PTO - OT</td>';
			if (j == 4) h += '<td>PTO - DT</td>';
			
			if (j == 0 && dd.isSatSun) {
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
			}
			else {
				h += '<td class="outputCell "><span class="outputTotal day' + j + '0" >' + lstHours[0] + '</span></td>';
				h += '<td class="outputCell "><span class="outputTotal day' + j + '1" >' + lstHours[1] + '</span></td>';
				h += '<td class="outputCell "><span class="outputTotal day' + j + '2" >' + lstHours[2] + '</span></td>';
				h += '<td class="outputCell "><span class="outputTotal day' + j + '3" >' + lstHours[3] + '</span></td>';
				
				if (j === 3 || j === 4) {
					h += '<td class="darkCell" ></td>';
				}
				else {
					h += '<td class="outputCell "><span class="outputTotal day' + j + '4" >' + lstHours[4] + '</span></td>';
				}
			}
			
			h += '<td class="outputCell "><span class="outputTotal day' + j + '5" >' + lstHours[5] + '</span></td>';
			h += '<th></th>';
			h += '<th></th>'; //TODO h += '<td class="outputCell "><span class="outputTotal day' + j + '6" >' + lstHours[6] + '</span><span class="hiddenWeek dailyHiddenWeek0">dayTotals.wkRDec</span></td>';
			h += '</tr>';
		}
		
		// weekly totals row
		//
		h += '<tr>';
		h += '    <th colspan="16" ></th>';
		h += '    </tr>';
		h += '<tr>';
		h += '    <th>Weekly Totals</th>';
		h += '    <th></th>';
		h += '    <td class="outputCell weekTotal0"><span class="outputTotal" >' + dd.totals.lstTotal[0] + '</span></td>';
		h += '    <td class="outputCell weekTotal1"><span class="outputTotal" >' + dd.totals.lstTotal[1] + '</span></td>';
		h += '    <td class="outputCell weekTotal2"><span class="outputTotal" >' + dd.totals.lstTotal[2] + '</span></td>';
		h += '    <td class="outputCell weekTotal3"><span class="outputTotal" >' + dd.totals.lstTotal[3] + '</span></td>';
		h += '    <td class="outputCell weekTotal4"><span class="outputTotal" >' + dd.totals.lstTotal[4] + '</span></td>';
		h += '    <td class="outputCell weekTotal5"><span class="outputTotal" >' + dd.totals.lstTotal[5] + '</span></td>';
		h += '    <th></th>';
		h += '    <td class="outputCell weekTotal6"><span class="outputTotal" >' + dd.totals.lstTotal[6] + '</span></td>';
		h += '    </tr>';

		h += '</table>';


		// slip and pto summary tables
		//
		h += '<div style="width:100%;max-width:800px;">';
		h += '<table style="margin:auto;">';
		h += '<tr>';
		h += '<td style="vertical-align:top;">';
		h += '    <table class="mainTable smallTable">';
		h += '    <tr>';
		h += '        <th colspan="3">Phase 5 Tracking</th>';
		h += '        </tr>';
		if (dd.lstPhase5.length > 0) {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">SF Slip #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Job Invoice #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Hours</td>';
			h += '        </tr>';
			for (var i=0; i<dd.lstPhase5.length; i++) {
				var slipLink = (isSF1 ? 'javascript:getLink(\''+dd.lstPhase5[i].slipId+'\');' : '/' + dd.lstPhase5[i].slipId);
				h += '    <tr>';
				h += '    <td><a href="' + slipLink + '" target="_blank" >' + dd.lstPhase5[i].name + '</a></td>';
				h += '    <td>' + dd.lstPhase5[i].slipRef + '</td>';
				h += '    <td style="text-align:right;padding-right:8px;">' + dd.lstPhase5[i].hours + '</td>';
				h += '    </tr>';
			}
			h += '    <tr>';
			h += '        <th colspan="3"></th>';
			h += '        </tr>';
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="2"><strong>Total</strong></td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:8px;"><strong>' + dd.phase5Total + '</strong></td>';
			h += '        </tr>';
		}
		else {
			h += '    <tr id="dayPhase5Slips">';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="3"><strong>There are no Phase 5 slips</strong></td>';
			h += '        </tr>';
		}

		h += '    </table>';

		h += '</td>';
		h += '<td style="vertical-align:top;">';

		h += '    <table class="mainTable smallTable">';
		h += '    <tr>';
		h += '        <th colspan="3">PTO Tracking</th>';
		h += '        </tr>';
		if (dd.lstPTO.length > 0) {
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">SF Slip #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Job Invoice #</td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;">Hours</td>';
			h += '        </tr>';
			for (var i=0; i<dd.lstPTO.length; i++) {
				var slipLink = (isSF1 ? 'javascript:getLink(\''+dd.lstPTO[i].slipId+'\');' : '/' + dd.lstPTO[i].slipId);
				h += '    <tr>';
				h += '    <td><a href="' + slipLink + '" target="_blank" >' + dd.lstPTO[i].name + '</a></td>';
				h += '    <td>' + dd.lstPTO[i].slipRef + '</td>';
				h += '    <td style="text-align:right;padding-right:8px;">' + dd.lstPTO[i].hours + '</td>';
				h += '    </tr>';
			}
			h += '    <tr>';
			h += '        <th colspan="3"></th>';
			h += '        </tr>';
			h += '    <tr>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="2"><strong>Total</strong></td>';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:8px;"><strong>' + dd.ptoTotal + '</strong></td>';
			h += '        </tr>';
		}
		else {
			h += '    <tr id="dayPTOSlips">';
			h += '        <td style="font-weight:bold;background:gray;color:white;text-align:right;padding-right:20px;" colspan="3"><strong>There are no PTO slips</strong></td>';
			h += '        </tr>';
		}
		h += '    </table>';

		h += '</td>';
		h += '</tr>';
		h += '</table>';

		h += '</div>';
		
		return h;    
    }


	function buildStafferSection(i, staffer) {
		var h = '';
		for (var j=0; j<6; j++) {
			var lstHours;
			var rateName;
			if (j == 0) { lstHours = staffer.lstR;     rateName = 'R'; }
			if (j == 1) { lstHours = staffer.lstOT;    rateName = 'OT'; }
			if (j == 2) { lstHours = staffer.lstDT;    rateName = 'DT'; }
			if (j == 3) { lstHours = staffer.lstPTOOT; rateName = 'PTOOT'; }
			if (j == 4) { lstHours = staffer.lstPTODT; rateName = 'PTODT'; }
			if (j == 5) { lstHours = staffer.lstTotal; rateName = ''; }

			h += '    <tr>';
			if (j == 0) {
				h += '        <td class="graywhite employeeName' + i + '">' + staffer.name + '</td>';
				h += '        <td>R</td>';
			}
			else if (j == 1) {
				h += '        <td class="graywhite">' + staffer.role + '</td>';
				h += '        <td>OT</td>';
			}
			else if (j == 2) {
				h += '        <td class="graywhite"></td>';
				h += '        <td>DT</td>';
			}
			else if (j == 3) {
				h += '        <td class="graywhite">Shift:&nbsp';								
				h += '          <select id="shiftSelect' + i + '">';
				h += '          <option>Normal</option>';
				h += '          <option>Second Shift</option>';
				h += '          <option>Third Shift</option>';
				h += '          </select>';
				h += '          </td>';
				h += '        <td>PTO - OT</td>';
			}
			else if (j == 4) {
				h += '        <td class="graywhite">Special:&nbsp';						
				h += '          <select id="specialSelect' + i + '">';
				h += '          <option>-none-</option>';
				h += '          <option>Arrived Late</option>';
				h += '          <option>Left Early</option>';
				h += '          <option>Transferred</option>';
				h += '          <option>Training</option>';
				h += '          <option>Terminated</option>';
				h += '          <option>Dispatched</option>';
				h += '          <option>Sick</option>';
				h += '          <option>School</option>';
				h += '          <option>Out</option>';
				h += '          </select>';
				h += '          </td>';
				h += '        <td>PTO - DT</td>';
			}
			else if (j == 5) {
				h += '        <td><span class="graywhite employeeId' + i + '" style="display:none;">' + staffer.jobStafferId + '</span></td>';
				h += '        <td><strong>Total</strong></td>';
			}
	
			if (j === 0 && dd.isSatSun) {
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
				h += '<td class="darkCell" ></td>';
			}
			else {
				if (j === 0 || j === 1 || j === 2) {
					h += '<td class="inputCell row' + j + ' col0 staffer' + i + ' ' + rateName + i + '" onclick="showHoursInputDialog(this, ' + i + ', ' + j + ', 0, \'' + staffer.name + ' - ' + rateName + ' Phase 1\');"><span class="teDlgSpan">' + lstHours[0] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col1 staffer' + i + ' ' + rateName + i + '" onclick="showHoursInputDialog(this, ' + i + ', ' + j + ', 1, \'' + staffer.name + ' - ' + rateName + ' Phase 2\');"><span class="teDlgSpan">' + lstHours[1] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col2 staffer' + i + ' ' + rateName + i + '" onclick="showHoursInputDialog(this, ' + i + ', ' + j + ', 2, \'' + staffer.name + ' - ' + rateName + ' Phase 3\');"><span class="teDlgSpan">' + lstHours[2] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col3 staffer' + i + ' ' + rateName + i + '" onclick="showHoursInputDialog(this, ' + i + ', ' + j + ', 3, \'' + staffer.name + ' - ' + rateName + ' Phase 4\');"><span class="teDlgSpan">' + lstHours[3] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col4 staffer' + i + ' ' + rateName + i + ' slipinput-' + rateName + '-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'Phase 5\', \'' + staffer.name + '\', \'5\', \'' + rateName + '\', \'' + i + '\', 0, 4);" >';
					h += '<span class="teDlgSpan">' + lstHours[4] + '</span>';
					h += '<span class="hiddenSlips" value="' + lstHours[0] + staffer.slipR + '" />';//TODO
					h += '</td>';
				}
				else if (j === 3) {
					h += '<td class="inputCell row' + j + ' col0 staffer' + i + ' slipinput-PTOOT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO OT\', \'' + staffer.name + '\', \'1\', \'PTOOT\', \'' + i + '\', ' + j + ', 0);" ><span class="teDlgSpan">' + lstHours[0] + '</span><span class="hiddenSlips">' + staffer.lstPTOOTSlips[0] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col1 staffer' + i + ' slipinput-PTOOT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO OT\', \'' + staffer.name + '\', \'1\', \'PTOOT\', \'' + i + '\', ' + j + ', 1);" ><span class="teDlgSpan">' + lstHours[1] + '</span><span class="hiddenSlips">' + staffer.lstPTOOTSlips[1] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col2 staffer' + i + ' slipinput-PTOOT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO OT\', \'' + staffer.name + '\', \'1\', \'PTOOT\', \'' + i + '\', ' + j + ', 2);" ><span class="teDlgSpan">' + lstHours[2] + '</span><span class="hiddenSlips">' + staffer.lstPTOOTSlips[2] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col3 staffer' + i + ' slipinput-PTOOT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO OT\', \'' + staffer.name + '\', \'1\', \'PTOOT\', \'' + i + '\', ' + j + ', 3);" ><span class="teDlgSpan">' + lstHours[3] + '</span><span class="hiddenSlips">' + staffer.lstPTOOTSlips[3] + '</span></td>';
					h += '<td class="darkCell" ></td>';
				}
				else if (j === 4) {
					h += '<td class="inputCell row' + j + ' col0 staffer' + i + ' slipinput-PTODT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO DT\', \'' + staffer.name + '\', \'1\', \'PTODT\', \'' + i + '\', ' + j + ', 0);" ><span class="teDlgSpan">' + lstHours[0] + '</span><span class="hiddenSlips">' + staffer.lstPTODTSlips[0] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col1 staffer' + i + ' slipinput-PTODT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO DT\', \'' + staffer.name + '\', \'1\', \'PTODT\', \'' + i + '\', ' + j + ', 1);" ><span class="teDlgSpan">' + lstHours[1] + '</span><span class="hiddenSlips">' + staffer.lstPTODTSlips[1] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col2 staffer' + i + ' slipinput-PTODT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO DT\', \'' + staffer.name + '\', \'1\', \'PTODT\', \'' + i + '\', ' + j + ', 2);" ><span class="teDlgSpan">' + lstHours[2] + '</span><span class="hiddenSlips">' + staffer.lstPTODTSlips[2] + '</span></td>';
					h += '<td class="inputCell row' + j + ' col3 staffer' + i + ' slipinput-PTODT-' + staffer.jobStafferId + '" onclick="showSlipDialog(this, \'PTO DT\', \'' + staffer.name + '\', \'1\', \'PTODT\', \'' + i + '\', ' + j + ', 3);" ><span class="teDlgSpan">' + lstHours[3] + '</span><span class="hiddenSlips">' + staffer.lstPTODTSlips[3] + '</span></td>';
					h += '<td class="darkCell" ></td>';
				}
				else {
					h += '<td class="outputCell"><span class="outputTotal row5 col0 staffer' + i + '" >' + lstHours[0] + '</span></td>';				
					h += '<td class="outputCell"><span class="outputTotal row5 col1 staffer' + i + '" >' + lstHours[1] + '</span></td>';
					h += '<td class="outputCell"><span class="outputTotal row5 col2 staffer' + i + '" >' + lstHours[2] + '</span></td>';
					h += '<td class="outputCell"><span class="outputTotal row5 col3 staffer' + i + '" >' + lstHours[3] + '</span></td>';
					h += '<td class="outputCell"><span class="outputTotal row5 col4 staffer' + i + '" >' + lstHours[4] + '</span></td>';
				}
			}
			
			h += '    <td class="outputCell R' + i + 'day" ><span class="row' + j + ' col5 staffer' + i + '" >' + lstHours[5] + '</span></td>';
			h += '    <th></th>';
			
			if (j === 5) {
				h += '        <td class="outputCell">';
				h += '        	<span class="outputTotal row5 col6 staffer' + i + '" >' + staffer.lstTotal[6] + '</span>';
				h += '        	<span class="hiddenWeek row5 staffer' + i + '" >' + staffer.wkTotalDec + '</span>';
				h += '            <span class="hiddenOtherRegular staffer' + i + '" >' + staffer.otherTSRegularDec + '</span>';
				h += '            <span class="hiddenOtherTotal staffer' + i + '" >' + staffer.otherTSTotalDec + '</span>';
				h += '            </td>';
			}
			else {
				h += '    <td class="outputCell R' + i + 'week" ><span class="row' + j + ' col6 staffer' + i + '" >' + lstHours[6] + '</span><span class="hiddenWeek R' + i + '" >' + staffer.wkRDec + '</span></td>';
			}
			
			h += '    </tr>';
		}
		h += '<tr>';
		h += '    <th colspan="16" ></th>';
		h += '    </tr>';
		return h;
	}

    
    function showHoursInputDialog(elem, staffNum, row, col, dialogTitle) {
    	console.log('show hours dialog, staffNum: '+staffNum+', row: '+row+', col: '+col);
		var titlestr = (dialogTitle ? dialogTitle : 'Enter Hours'); //TODO

        // copy the value in from the selected cell
        $j('#hoursInput').val($j(elem).find('span').text());

		// open popup with desired transition
	    $j("#popupLogin").popup("open", {
	        "transition": "pop"
	    });

   		$j('.done').off('click').click(function(){
			$j(elem).find('span').text($j('#hoursInput').val());
			$j('#popupLogin').popup('close', { "transition": "pop" });
			recalcTotals(staffNum, row, col, elem);
		});

    }


	function buildSlipTable(slips) {
		var h = '';
		for (var i=0; i<slips.length; i++) {
			h += '<tr class="slipRow-' + slips[i].slipType + '" >';
			h += '<td><input type="checkbox" class="chxSlip ' + slips[i].slipId + ' ' + slips[i].slipNotOpen + '" value="' + slips[i].slipId + '" /></td>';
			h += '<td><a href="/' + slips[i].slipId + '" target="_blank" >' + slips[i].name + '</a></td>';
			h += '<td>' + slips[i].slipRef + '</td>';
			h += '<td>' + slips[i].descriptionOfWork + '</td>';
			h += '<td><input type="number" class="slipHours ' + slips[i].slipId + '  ' + slips[i].slipNotOpen + '" style="width:50px;padding-left:20px;" onchange="updateTotalHours();" onkeypress="return enterPressed(event);" onkeyup="thisSlipCheckbox(\'' + slips[i].slipId + '\');" /></td>';
			h += '</tr>';
		}
		return h;
	}



    var tedPhase = '';  // e.g. 1
    var tedRate = '';  // e.g. DT
    var tedRownum = '';
    var tedSlipType = ''; // e.g. Phase 5 or PTO
    //var existingSlipID = '';

    function showSlipDialog(cell, title, name, phase, rate, rownum, row, col) {
    	console.log('showSlipDialog, phase: '+phase+', rate: '+rate+', rownum: '+rownum+', row: '+row+', col: '+col);

        tedPhase = phase;
        tedRate = rate;
        tedRownum = rownum;
        tedSlipType = title;

        var dialogTitle = 'Add Time Entry' + ' - ' + name;
        
        $j('.teTitle').text(title);
        $j('.teType').text(rate);

        if (title === 'Phase 5') {
            $j('.slipRow-phase5').show();
            $j('.slipRow-pto').hide();
        }
        else {
            $j('.slipRow-phase5').hide();
            $j('.slipRow-pto').show();
        }

		// uncheck all boxes
      	$j('input.chxSlip').prop('checked', false);
      	$j('input.slipHours').val('');

        // check box for each slip, fill in hours, update total hours
        var slipIds = $j(cell).find('.hiddenSlips').text();
        console.log('checking: '+slipIds);
        if (slipIds) {
	        var arr = slipIds.split(',');	        
	        for (var i=0; i<arr.length; i++) {
	        	if (!arr[i]) continue;
	        	var ar = arr[i].split('::');
	        	$j('input.chxSlip.'+ar[0]).prop('checked', true);
	        	$j('input.slipHours.'+ar[0]).val(ar[1]);
	        }
        }
        updateTotalHours();
        
        dlStaff = rownum;
        dlRow = row;
        dlCol = col;
        dlElem = cell;

		// open popup with desired transition
	    $j("#popupSlip").popup("open", {
	        "transition": "pop"
	    });
    }

    var dlStaff;
    var dlRow;
    var dlCol;
    var dlElem;
    function dialogHoursChanged() {
        $j(dlElem).text($j('#timeDialogTotal').text());
        console.log('dialogHoursChanged, setting to: '+$j(dlElem).text());
        recalcTotals(dlStaff, dlRow, dlCol, dlElem);
    }

    function enterPressed(ev) {
        if (window.event && window.event.keyCode == 13 || ev.which == 13) {
            doProductSearch();
            return false;
         } else {
              return true;
         }
     }
    
    
    function useExistingSlip() {
        // uncheck create new slip checkbox
        $j('.newslipinputccheckbox').prop('checked', false);
        
    }
    
    // slipID is comma separated list of ID::hours
    // e.g. 123412345::3.5,12341234::4.5
    function useSlip(slipIDHours) {
        // check use existing box
        //$j('.existingslipinputccheckbox').prop('checked', true);

        // uncheck create new slip checkbox
        //$j('.newslipinputccheckbox').prop('checked', false);
        
		// uncheck all boxes
      	$j('input.chxSlip').prop('checked', false);


        // check box for each slip, fill in hours, update total hours
        var arr = slipIDHours.split(',');
        for (var i=0; i<arr.length; i++) {
        	var ar = arr[i].split('::');
        	$j('input.chxSlip.'+ar[0]).prop('checked', true);
        	$j('input.slipHours.'+ar[0]).val(ar[1]);
        }
        
        updateTotalHours();
        //existingSlipID = slipID;
        
    }
    
    function thisSlipCheckbox(slipId) {
    	var vl =  $j('.slipHours.'+slipId).val();
   		var n = isNaN(vl);
   		console.log('thisSlipCheckbox: '+vl+', n: '+n);
    	if (vl === '') {
	      	$j('input.chxSlip.'+slipId).prop('checked', false);
    	}
    	else {
	      	$j('input.chxSlip.'+slipId).prop('checked', true);
    	}
    	updateTotalHours();
    }
    
    function updateTotalHours() {
        var dailyEntryTotal = 0.0;

		if ($j('.newslipinputcheckbox').prop('checked')) {
      		dailyEntryTotal += getNumber($j('.newSlipHours').val());
		}

        // get checked slips/hours, add to hidden field
        $j('.chxSlip').each(function () {
        		if ($j(this).prop('checked')) {
	        		var slpid = $j(this).val();
	        		dailyEntryTotal += getNumber($j('.slipHours.'+slpid).val());
        		}
        	});        
        $j('#timeDialogTotal').text(dailyEntryTotal);
    }
     
    function saveHoursFromSlipDialog() {
		$j.mobile.loading( "show" );
    
        // create new or use existing is checked
        // if create new, call remoteaction to insert a new slip and get id
        if ($j('.newslipinputcheckbox').prop('checked')) {
	        var slipName = $j('.newslipname').val();//'12345678g';
    	    var slipDescription = $j('.newslipdesc').val();//'this is a test';
    	    var slipRowClass = 'pto';
    	    var slipType = 'PTO';
        	if (tedSlipType === 'Phase 5') {
	        	slipType = 'Phase 5';
	        	slipRowClass = 'phase5';
        	}
        	console.log('saveHoursFromSlipDialog, box checked, creating new slip: '+slipName);
        	
        	// remote action - ajax call, any final changes done in the result function
		    Timesheet_Controller2.createNewSlip(
		        slipName, slipDescription, slipType, jobId, 
		        function(result, event) {
		        	console.log('createNewSlip, result: '+result);
		        	console.log('createNewSlip, event: '+event);
		            if (event.status) {
		            	//alert('result: \n'+result);
				    	if (result.substr(0,5) === 'Error') {
				    		alert('Error while creating new slip:\n'+result);
					        $j('body').unmask();
				    		return;
				    	}
				    	else {
				    		var res = result.split('//');
				    		console.log('new slip ID: '+res[0]+', new slip name: '+res[1]);

							// add to slip table
							var newrow =
				                '<tr class="slipRow-'+slipRowClass+'" >' 
				                    + '<td><input type="checkbox" class="chxSlip '+res[0]+'" value="'+res[0]+'"  /></td>'
				                    + '<td><a href="/'+res[0]+'" target="_blank" >'+res[1]+'</a></td>'
				                    + '<td>'+slipName+'</td>'
				                    + '<td>'+slipDescription+'</td>'
				                    + '<td><input type="number" class="slipHours '+res[0]+'" style="width:50px;padding-left:20px;" onchange="updateTotalHours();" onkeypress="return enterPressed(event);" /></td>'
				                    + '</tr>';
				            $j(newrow).insertBefore('#lastSlipRow');

					        var slpstr = res[0] + '::' + $j('.newSlipHours').val() + ',';

					    	updateTotalHours();

							// uncheck and clear new slip row
							$j('.newslipinputcheckbox').prop('checked', false);
							$j('.newslipname').val('');
							$j('.newslipdesc').val('');
							$j('.newSlipHours').val('');

					        // get checked slips/hours, add to hidden field
					        $j('.chxSlip').each(function () {
					        		console.log('checking '+$j(this).val());
					        		if ($j(this).prop('checked')) {
						        		var slpid = $j(this).val();
						        		var hrs = $j('.slipHours.'+slpid).val();
						        		console.log($j(this).val()+' is checked, hrs: '+hrs);
						        		if (hrs) {
							        		slpstr += slpid + '::' + hrs + ',';
						        		}
					        		}
					        	});
					        
					        // put slip IDs/hours in hidden input field
					        console.log('dialogHoursChanged, slpstr: '+slpstr);
					        $j(dlElem).find('.teDlgSpan').text(getNumber($j('#timeDialogTotal').text()).formatNumber(1));
					        $j(dlElem).find('.hiddenSlips').text(slpstr);

					        console.log('dialogHoursChanged, setting to: '+tot);
					        
					        recalcTotals(dlStaff, dlRow, dlCol, dlElem);
							$j("#popupSlip").popup("close", { "transition": "pop" });	        
				    	}
						$j.mobile.loading( "hide" );
	
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
						$j.mobile.loading( "hide" );
		            } else {
		                alert('errors: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
						$j.mobile.loading( "hide" );
		            }
		        }, 
		        {escape: false}
		    );
        }
        else {
	        // get checked slips/hours, add to hidden field

	    	updateTotalHours();
	        var slpstr = '';
	        var tot = 0.0;
	        $j('.chxSlip').each(function () {
	        		if ($j(this).prop('checked')) {
		        		var slpid = $j(this).val();
		        		var hrs = $j('.slipHours.'+slpid).val();
		        		console.log('slpid: '+slpid+', hrs: '+hrs);
		        		if (hrs) {
			        		slpstr += slpid + '::' + hrs + ',';
			        		tot += getNumber(hrs);
		        		}
	        		}
	        	});
	        
	        // put slip IDs/hours in hidden input field
	        console.log('dialogHoursChanged, slpstr: '+slpstr);
	        $j(dlElem).find('.teDlgSpan').text(tot.formatNumber(1));
	        $j(dlElem).find('.hiddenSlips').text(slpstr);
	        console.log('dialogHoursChanged, setting to: '+tot);
	        
	        recalcTotals(dlStaff, dlRow, dlCol, dlElem);
	        
			$j.mobile.loading( "hide" );
			$j("#popupSlip").popup("close", { "transition": "pop" });
        }
    }
     


    var staffers;
	function loadStaffers(st) {
   		staffers = JSON.parse(st).staffers;
		var f = $j('#newstafferstafffilter').val();
		console.log('staffers.length: '+staffers.length);

        // add new staffer list
        var h = '';
		for (var i=0; i<staffers.length; i++) {
		    h += '<li><span class="newstafferlistlink" >' + staffers[i].name + '</span></li>';
		}
        $j('#newstafferlist').append(h);

		$j('.newstafferlistlink').click(function() {
				console.log('clicked '+$j(this).text());
				$j('#staffer-autocomplete-input').val($j(this).text());
				$j('#newstafferlist li').each(function (index) {
				        $j(this).addClass("ui-screen-hidden");
				    });
				var nm = $j('#staffer-autocomplete-input').val();
				for (var i=0; i<staffers.length; i++) {
					console.log('staffers['+i+'].name: '+staffers[i].name+', role: '+staffers[i].role);			
					if (nm === staffers[i].name && staffers[i].role) {
						console.log('setting to role: '+staffers[i].role);
						$j('#newstafferrole-button span').text(staffers[i].role);
						$j('#newstafferrole').val(staffers[i].role);
						break;
					}
				}
			});

	}
	
	function filterStaffers() {
		var f = $j('#newstafferstafffilter').val();
		console.log('filterStaffers, staffFilter: '+f);
   		var h = '<select id="newstafferstaff" onchange="stafferSelected();">'
   			+ '<option value="none">--select--</option>';
		console.log('staffers.length: '+staffers.length);
		for (var i=0; i<staffers.length; i++) {
			console.log('staffers['+i+'].name: '+staffers[i].name+', role: '+staffers[i].role);
			if (f === 'none' || f === staffers[i].role) {
				h += '<option value="' + staffers[i].id + '">' + staffers[i].name + '</option>';
			}
		}
		h += '</select>';
		$j('#newstafferstaff').replaceWith(h);
	}

	function stafferSelected() {
		var nm = $j('#staffer-autocomplete-input').val();
		console.log('stafferSelected, nm: '+nm);
		for (var i=0; i<staffers.length; i++) {
			console.log('staffers['+i+'].name: '+staffers[i].name+', role: '+staffers[i].role);			
			if (nm === staffers[i].name && staffers[i].role) {
				console.log('setting to role: '+staffers[i].role);
				$j('#newstafferrole').val(staffers[i].role);
				return;
			}
		}
		$j('#staffer-autocomplete-input').val('');
		$j('#newstafferrole').val('none');		
	}

    function saveStafferFromDialog() {
		$j.mobile.loading( "show" );
		
		var nm = $j('#staffer-autocomplete-input').val();
		var id;
		for (var i=0; i<staffers.length; i++) {
			console.log('staffers['+i+'].name: '+staffers[i].name+', role: '+staffers[i].role);			
			if (nm === staffers[i].name) {
				id = staffers[i].id;
				console.log('found staffer id: '+id);
				break;
			}
		}

		var role = $j('#newstafferrole').val();
		console.log('saveStafferFromDialog, id: '+id+', role: '+role);
		if (!id || id === 'none') {
			$j('#stafferMessage').show().text('You must select a staffer');
			$j.mobile.loading( "hide" );
		}
		else if (!role || role === 'none') {
			$j('#stafferMessage').show().text('You must select a role');
			$j.mobile.loading( "hide" );
		}
		else {
        	// remote action - ajax call, any final changes done in the result function
		    Timesheet_Controller2.saveNewStaffer(
		        jobId, conId, newStafferRole, 
		        function(result, event) {
		        	console.log('saveNewStaffer, result: '+result);
		        	console.log('saveNewStaffer, event: '+event);
		            if (event.status) {
		            	//alert('result: \n'+result);
				    	if (result.substr(0,5) === 'Error') {
				    		$j('#stafferMessage').show().text('Error while creating new job staffer:\n'+result);
				    		return;
				    	}
				    	else {
				    		console.log('new staffer ID: '+result);

					        // add new staffer row
							var st = 
								{
									"wkTotalDec":null,
									"wkRDec":null,
									"wkPTOOTDec":null,
									"wkPTODTDec":null,
									"wkOTDec":null,
									"wkDTDec":null,
									"slipR":"",
									"slipOT":"",
									"slipDT":"",
									"role":role,
									"name":nm,
									"lstTotal":["","","","","","",""],
									"lstR":["","","","","","",""],
									"lstPTOOTSlips":["","","","","",""],
									"lstPTOOT":["","","","","","",""],
									"lstPTODTSlips":["","","","","",""],
									"lstPTODT":["","","","","","",""],
									"lstOT":["","","","","","",""],
									"lstDT":["","","","","","",""],
									"jobStafferId":result,
									"contactId":id
									};
							var h = buildStafferSection(dd.lstStaffers.length, st);
							console.log('add new staffer, h: '+h);
					      	$j('#addNewStafferRow').before(h);
							dd.lstStaffers.push(st);
				
					      	
							$j("#popupNewStaffer").popup("close", { "transition": "pop" });
	        
				    	}
						$j.mobile.loading( "hide" );
	
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
						$j.mobile.loading( "hide" );
		            } else {
		                alert('errors: '+event.message);//document.getElementById("responseErrors").innerHTML = event.message;
						$j.mobile.loading( "hide" );
		            }
		        }, 
		        {escape: false}
		    );

	    }
    }


    
    
    // jqm only allows 1 dialog at a time
    //
    function showErrorDialog(errors, showIgnoreFix) {
    	console.log('show errors dialog: '+errors);

		// open popup with desired transition
	    $j("#popupSlip").popup("open", {
	        "transition": "pop"
	    });

/*
        $j('#hideMeAtStart3').css('display', 'block');
		var buttonParam;
        if (showIgnoreFix) {
			buttonParam = {
                    "Fix": function(){ $j(this).dialog("close"); } 
                    ,"Ignore": function(){ $j(this).dialog("close"); $j('body').mask('Saving...'); saveAndCloseActionFunction(); } 
                };
        }
        else {
			buttonParam = {
                    "Okay": function(){ $j(this).dialog("close"); $j('body').mask('Saving...'); saveAndContinueActionFunction(); }
                };
        }
        $j("#errorDialog").dialog({ 
                closeOnEscape: true
                ,closeable: true
                ,draggable: true
                ,modal: true
                ,overlay: {opacity:0.5, background:"black"}
                ,position: "center"
                ,resizable: false
                ,title: 'Validation Error(s)'
                ,width:650
                ,height:450
                ,buttons: buttonParam
                ,open: function () { 
                        $j("ui-state-default").blur();
                        $j('.ui-widget-overlay').bind('click', function() { $j('#errorDialog').dialog('close'); });
                    }
        }).parent().appendTo($j("#thePage\\:mainForm")).css("z-index", 1000);
        
        if (errors && errors.length > 0) {
        	var errorstr = '';
	        for (var i=0; i<errors.length; i++) {
		    	console.log('errors['+i+']: '+errors[i]);
	        	 if (errors[i].contains('//')) {
	        	 	// empId//<regular or total>//error message
	        	 	var str = errors[i].split('//');
	        	 	var empId = str[0];
	        	 	var timesheetId = $j('#timesheetId').text();//'a0011000005NeXk';//TODO
	        	 	var milliseconds = new Date().getTime();
	        	 	var divId = empId + '-' + milliseconds;
	        	 	var day = $j('#timesheetDay').text();//'2014-11-18';//TODO
		        	
		        	errorstr += '<p>' + str[2] + '</p>';	        	 	
		        	errorstr += '<p><div id="' + divId + '" style="padding: 0px 50px;"><img src="{!URLFOR($Resource.AjaxLoader16x16)}"/></div></p>';	        	 	
            		getHoursOtherJobs(empId, timesheetId, day, str[1], divId);

	        	 }
	        	 else {
		        	errorstr += '<p>' + errors[i] + '</p>';
	        	 }
	        }
	        $j('#errorDialogDetails').html(errorstr);
        }
        */
    }

	// msg is a string or an array of strings
	//
    function showAlertDialog(msg, showFixBtn) {
    	console.log('showAlertDialog, msg: '+msg);
    	var h = '<div id="alertDialogDetails" style="min-width:200px;padding:20px 10px;text-align:left;">';
    	if (typeof msg === 'string') {
    		h += '<p>' + msg + '</p>';
    	}
    	else {
    		for (var i=0; i<msg.length; i++) {
	    		h += '<p>' + msg[i] + '</p>';
    		}
    	}
    	h += '</div>';
    	
    	$j('#alertDialogDetails').replaceWith(h);
    	
    	if (showFixBtn) {
    		$j('#alertFixBtn').show();
    		$j('#alertOkayBtn').hide();
    	}
    	else {
    		$j('#alertFixBtn').hide();
    		$j('#alertOkayBtn').show();
    	}

		// open popup with desired transition
	    $j("#popupAlert").popup("open", {
	        "transition": "pop"
	    });
	}
    
    
    function getHoursOtherJobs(empId, timesheetId, day, type, divId) {
    	console.log('getHoursOtherJobs, empId: '+empId+', timesheetId: '+timesheetId);
    
        	// remote action - ajax call, update the div in the result function
		    Timesheet_Controller2.getOtherTimesheetInfo(
		        empId, timesheetId, day, type,
		        function(result, event) {
		        	console.log('getHoursOtherJobs, result: '+result);
		        	console.log('getHoursOtherJobs, event: '+event);
		            if (event.status) {
				    	if (result.substr(0,4) === 'Error') {
				    		alert('Error while getting timesheet information:\n'+result);
				    	}
				    	else {
				    	
				    		// parse results, remove the temporary image and add table with results
				    		var res = JSON.parse(result);
				    		var newdiv = '<div style="padding: 0px 50px;">';
				    		if (res.status && res.status === 'success' && res.count > 0) {
								var timetable =
									'<table style="border-collapse: collapse;border: 1px solid #A9A9A9;">'
									+ '<tr>'
									+ '  <th style="border: 1px solid #A9A9A9;background:#A9A9A9;color:#ffffff;padding:2px 8px;">Job</th>'
									+ '  <th style="border: 1px solid #A9A9A9;background:#A9A9A9;color:#ffffff;padding:2px 8px;">Rate</th>'
									+ '  <th style="border: 1px solid #A9A9A9;background:#A9A9A9;color:#ffffff;padding:2px 8px;">Hours Worked</th>'
									+ '</tr>';
								for (var i=0; i<res.count; i++) {
									timetable +=
										  '<tr>'
										+ '  <td style="border: 1px solid #A9A9A9;padding:2px 8px;">' + res.entries[i].job + '</td>'
										+ '  <td style="border: 1px solid #A9A9A9;padding:2px 8px;">' + res.entries[i].rate + '</td>'
										+ '  <td style="border: 1px solid #A9A9A9;padding:2px 8px;text-align:right;">' + res.entries[i].hours + '</td>'
										+ '</tr>';								
								}
								timetable +=
									'</table>';
					    		newdiv += timetable + '</div>';
				    		}
				    		else {
					    		newdiv += 'Unable to get other time entries</div>';
				    		}
				    		$j('#' + divId).replaceWith(newdiv);
				    	}
	
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);
		            } else {
		                alert('errors: '+event.message);
		            }
		        }, 
		        {escape: false}
		    );
    }
     



    
    
    // recalculate all totals
    // this function does not do any validation
    //
    // 'R', staffer.rownum, column, this
    function recalcTotals(staffNum, row, col, obj) {
        console.log('recalcTotals, staffNum: '+staffNum+', row: '+row+', col: '+col+', obj: '+obj);
		
        // staffer totals
        //
        // row totals
        var dayRowTotal = 
            getNumber($j('.row'+row+'.col0.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row'+row+'.col1.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row'+row+'.col2.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row'+row+'.col3.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row'+row+'.col4.staffer'+staffNum).find('.teDlgSpan').text());
        console.log('dayRowTotal: '+dayRowTotal);
        
        var weekRowTotal = dayRowTotal + getNumber($j('.hiddenWeek.row'+row+'.staffer'+staffNum).text());
        console.log('weekRowTotal: '+ weekRowTotal);
        
        $j('.row'+row+'.col5.staffer'+staffNum).text(dayRowTotal.formatNumber(1));  
        $j('.row'+row+'.col6.staffer'+staffNum).text(weekRowTotal.formatNumber(1));
        
        // column total 
        var colTotal = 
            getNumber($j('.row0.col'+col+'.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row1.col'+col+'.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row2.col'+col+'.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row3.col'+col+'.staffer'+staffNum).find('.teDlgSpan').text()) +
            getNumber($j('.row4.col'+col+'.staffer'+staffNum).find('.teDlgSpan').text());
        console.log('colTotal: '+ colTotal);
        $j('.row5.col'+col+'.staffer'+staffNum).text(colTotal.formatNumber(1));         

        // day total
        var dayStaffTotal = 
            getNumber($j('.row5.col0.staffer'+staffNum).text()) +
            getNumber($j('.row5.col1.staffer'+staffNum).text()) +
            getNumber($j('.row5.col2.staffer'+staffNum).text()) +
            getNumber($j('.row5.col3.staffer'+staffNum).text()) +
            getNumber($j('.row5.col4.staffer'+staffNum).text());
        var weekStaffTotal = 
            getNumber($j('.row0.col6.staffer'+staffNum).text()) +
            getNumber($j('.row1.col6.staffer'+staffNum).text()) +
            getNumber($j('.row2.col6.staffer'+staffNum).text()) +
            getNumber($j('.row3.col6.staffer'+staffNum).text()) +
            getNumber($j('.row4.col6.staffer'+staffNum).text());
        console.log('dayStaffTotal: '+ dayStaffTotal.formatNumber(1));
        console.log('weekStaffTotal: '+ weekStaffTotal);
        $j('.row5.col5.staffer'+staffNum).text(dayStaffTotal.formatNumber(1));  
        $j('.row5.col6.staffer'+staffNum).text(weekStaffTotal.formatNumber(1));
            
        // all staffer totals
        //
        // daily totals
        //
        // day entry
        //
        var dailyEntryTotal = 0.0;
        
        for (var i=0; i<dd.lstStaffers.length; i++) {
            dailyEntryTotal += getNumber($j('.row'+row+'.col'+col+'.staffer'+i).find('.teDlgSpan').text());
        }
        console.log('dailyEntryTotal: '+ dailyEntryTotal);
        $j('.day'+row+col).text(dailyEntryTotal.formatNumber(1));   
        
        // day row
        var dayRowAllStaffTotal = 
            getNumber($j('.day'+row+'0').text()) +
            getNumber($j('.day'+row+'1').text()) +
            getNumber($j('.day'+row+'2').text()) +
            getNumber($j('.day'+row+'3').text()) +
            getNumber($j('.day'+row+'4').text());
        var weekRowAllStaffTotal = dayRowAllStaffTotal + getNumber($j('.dailyHiddenWeek'+row).text());
        console.log('dayRowAllStaffTotal: '+ dayRowAllStaffTotal.formatNumber(1));
        console.log('weekRowAllStaffTotal: '+ weekRowAllStaffTotal);
        $j('.day'+row+'5').text(dayRowAllStaffTotal.formatNumber(1));   
        $j('.day'+row+'6').text(weekRowAllStaffTotal.formatNumber(1));  
        
        // weekly column
        for (var i=0; i<7; i++) {
        	var tot = 
	            getNumber($j('.day'+'0'+i).text()) +
	            getNumber($j('.day'+'1'+i).text()) +
	            getNumber($j('.day'+'2'+i).text()) +
	            getNumber($j('.day'+'3'+i).text()) +
	            getNumber($j('.day'+'4'+i).text());
	    	$j('.weekTotal'+i).find('span').text(tot.formatNumber(1));
        }
        

    }
    



	// validate with a warning if there are errors
	//
    function saveAndContinue() {
		$j.mobile.loading( "show" );
		var dayData = getDayData();
		var errors = validateTimesheet(getDayData());
		if (errors.length === 0) {
			var ddstr = JSON.stringify(dayData);
			console.log('saveAndContinue: '+ddstr);
		    Timesheet_Controller2.saveDay(
		        ddstr, 
		        function(result, event) {
		        	console.log('saveAndContinue, result: '+result);
		        	console.log('saveAndContinue, event: '+event);
					$j.mobile.loading( "hide" );
		            if (event.status) {
		            	console.log('result: \n'+result);
						if (result !== null && result !== '' && result.substr(0,5) !== 'Error') {
				        	showAlertDialog('Saved');
				    	}
				    	else {
				        	showAlertDialog(result);
			    		}
		            } else if (event.type === 'exception') {
		                showAlertDialog('exception: '+event.message);
		            } else {
		                showAlertDialog('errors: '+event.message);
		            }
		        }, 
		        {escape: false}
		    );
		}
		else {
        	showAlertDialog(errors);
			$j.mobile.loading( "hide" );
		}
    }



	// validate, show Ignore/Fix buttons if there are errors
	//
    function saveAndCloseInitialCheck() {
		$j.mobile.loading( "show" );
		var dayData = getDayData();
		var errors = validateTimesheet(getDayData(), true);
		if (errors.length === 0) {
			saveAndClose(dayData);
		}
		else {
        	showAlertDialog(errors, true);
			$j.mobile.loading( "hide" );
		}
    }

	function saveAndClose(ddata) {
		$j.mobile.loading( "show" );
		if (!ddata) {
			ddata = getDayData();
		}
			var ddstr = JSON.stringify(ddata);
			console.log('saveAndClose: '+ddstr);
		    Timesheet_Controller2.saveDay(
		        ddstr, 
		        function(result, event) {
		        	console.log('saveAndClose, result: '+result);
		        	console.log('saveAndClose, event: '+event);
		            if (event.status) {
		            	console.log('result: \n'+result);
						$j.mobile.loading( "hide" );
						if (result !== null && result !== '' && result.substr(0,5) !== 'Error') {
					    	showSelect();	
				    	}
				    	else {
				        	showAlertDialog(result);
			    		}
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);
		            } else {
		                alert('errors: '+event.message);
		            }
		        }, 
		        {escape: false}
		    );
		
	}



	function getDayData() {
		var ddata = {
			jobId    : "{!jobId}",
			tsId     : ts.tsId,
			dayDate  : dd.selectedDay,
			staffers : []
		};

		/*
				{
					stafferId:"asdf",
					shift:"asdf",
					special:"asdf",
					entries:[
						{
							rate:"R",
							phase:"2",
							hours:"8.0",
							slipId:"asdf"
						},
						{
							rate:"PTOOT",
							phase:"2",
							hours:"1.0",
							slipId:"asdf"
						}
					]
				}
		*/
		
		// create an object for each staffer:
		// get shift
		// get special condition
		// get R/OT/DT hours
		// if phase 5, get hours/slips
		// get PTOOT/PTODT hours/slips
		//
		for (var i=0; i<dd.lstStaffers.length; i++) {
			var spec = $j('#specialSelect'+i).val();
			if (spec === '-none-') spec = ''; 
			var stf = 
				{
					jobStafferId : dd.lstStaffers[i].jobStafferId,
					contactId    : dd.lstStaffers[i].contactId,
					shift        : $j('#shiftSelect'+i).val(),
					special      : spec,
					entries      : []
					//weekTotal    : getNumber($j('.hiddenWeek.staffer'+i).text()),
					//otherReg     : getNumber($j('.hiddenOtherRegular.staffer'+i).text()),
					//otherTotal   : getNumber($j('.hiddenOtherTotal.staffer'+i).text()),
				};

			var mapRows = ["R", "OT", "DT", "PTO - OT", "PTO - DT"];

			for (var row=0; row<5; row++) {
				for (var col=0; col<5; col++) {
					if (row < 3 && col !== 4) {
						var hrs = getNumber($j('.row' + row + '.col' + col + '.staffer' + i + ' .teDlgSpan').text());
						if (hrs !== 0.0) {
							stf.entries.push(
								{
									rate   : mapRows[row],
									phase  : 'Phase ' + (col + 1),
									hours  : hrs + "",
									slipId : ""
								}
								);
						}
					}
					else {
						var slipStr = $j('.row' + row + '.col' + col + '.staffer' + i + ' .hiddenSlips').text();
						if ((typeof slipStr === 'string' || slipStr instanceof String ) && slipStr.contains(':')) {
							var parts = slipStr.split(',');
							for (var j=0; j<parts.length; j++) {
								if (parts[j] !== undefined && parts[j] !== '' && parts[j].contains(':')) {
									var parts2 = parts[j].split('::');
									stf.entries.push(
										{
											rate   : mapRows[row],
											phase  : 'Phase ' + (col + 1),
											hours  : parts2[1],
											slipId : parts2[0]
										}
										);
								}
							}
						}
					}
				}
				//TODO
				// capture special condition hours
				// for example if someone works 5 hours, then we know the special condition covers 3 hours. 
				// They don't want to key it in, but would want to calculate it
				/*
				if (false) {
					stf.entries.push(
						{
							rate   : mapRows[row],
							phase  : 'Phase ' + (col + 1),
							hours  : parts2[1],
							slipId : parts2[0]
						}
						);
				}
				*/
			}
			
			if (stf.entries.length > 0) {
				ddata.staffers.push(stf);
			}
		}

		return ddata;
	}

    // An employee should never have more than a total of 24 hours in a given day across all phases and jobs
    // An employee should never have more than a total of 8 regular hours in a given day across all phases and jobs
    //
    // If checkSpecialConditions is true, this is called from Save and Close
    // If true, also get each staffer, if total less than 8 hours verify 'special' picklist has a value
    // 
    // d - dayData object
    // checkSpecialConditions - Boolean - if true 
	function validateTimesheet(d, checkSpecialConditions) {
    	var errors = []; //['error one', 'error two'];
		for (var i=0; i<dd.lstStaffers.length; i++) {
        	// validate 8 reg hours this timesheet
	        var regHoursStr = $j('.row0.col5.staffer'+i).text();
	        var regHours = getNumber(regHoursStr);
        	if (regHours > 8.0) {
        		errors.push('Regular hours exceeds 8.0 hours in a day ('+emp+')');
        	}

			// validate across other timesheets, error message contains other info
			// format like:
       	 	//   empId//<regular or total>//error message
       		var emp = $j('.employeeName'+i).text();

			// validate 8 reg hours across timesheets
	        var otherTSRegHours = getNumber($j('.hiddenOtherRegular.staffer'+i).text());
	        if (otherTSRegHours > 0.0 && regHours + otherTSRegHours > 8.0) {
        		errors.push('Regular hours exceeds 8.0 hours in a day across all timesheets ('+emp+', '+otherTSRegHours+' regular hours on other timesheets):');
	        }
        	
        	// validate 24 total hours
	        // if day total + day total other jobs > 24
	        var dayTotal = getNumber($j('.outputTotal.row5.col5.staffer'+i).text());
	        var otherTSTotalHours = getNumber($j('.hiddenOtherTotal.staffer'+i).text());
	        if (dayTotal + otherTSTotalHours > 24.0) {
        		errors.push('Total hours exceeds 24.0 hours in a day across all timesheets ('+emp+', '+otherTSTotalHours+' hours on other timesheets):');
	        }
        
			// validate special conditions
			// if all of the cells are blank for someone (e.g 0 hours) then there should also be a special condition
            if (checkSpecialConditions && regHours < 8.0) {
            	var sel = $j('#specialSelect'+i+' option:selected').val();
            	if (sel === '-none-') {
	            	errors.push('Special Condition must be selected for daily hours less than 8.0 ('+emp+')');
            	}
            }
        }  

    	console.log('errors.length: '+errors.length);
    	return errors;
	}










	function submitTimesheet() {
		$j.mobile.loading( "show" );
		var errors = validateTimesheet(getDayData());
		if (errors.length === 0) {
		    Timesheet_Controller2.submitTimesheet(
		        ts.tsId, 
		        function(result, event) {
		        	console.log('submitTimesheet, result: '+result);
		        	console.log('submitTimesheet, event: '+event);
		            if (event.status) {
		            	console.log('result: \n'+result);
						if (result !== null && result !== '' && result.substr(0,5) !== 'Error') {
							ts.isWeekEditable = false;
							$j('#submitButton').hide();
				    		$j('#jobStatus').text('Submitted by Foreman');
							$j.mobile.loading( "hide" );
				    	}
				    	else {
							$j.mobile.loading( "hide" );
				        	showAlertDialog(result);
			    		}
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);
		            } else {
		                alert('errors: '+event.message);
		            }
		        }, 
		        {escape: false}
		    );
		}
		else {
        	showAlertDialog(errors);
			$j.mobile.loading( "hide" );
		}
	}



	function pmApproved() {
		$j.mobile.loading( "show" );
		var errors = validateTimesheet(getDayData());
		if (errors.length === 0) {
		    Timesheet_Controller2.pmApproved(
		        ts.tsId, 
		        function(result, event) {
		        	console.log('pmApproved, result: '+result);
		        	console.log('pmApproved, event: '+event);
		            if (event.status) {
		            	console.log('result: \n'+result);
						if (result !== null && result !== '' && result.substr(0,5) !== 'Error') {
							$j('#approveButton').hide();
				    		$j('#jobStatus').text('Approved');
							$j.mobile.loading( "hide" );
				    	}
				    	else {
							$j.mobile.loading( "hide" );
				        	showAlertDialog(result);
			    		}
		            } else if (event.type === 'exception') {
		                alert('exception: '+event.message);
		            } else {
		                alert('errors: '+event.message);
		            }
		        }, 
		        {escape: false}
		    );
		}
		else {
        	showAlertDialog(errors);
			$j.mobile.loading( "hide" );
		}
	}










    function recalculateDayTotals() {
        // set daily totals
        
        for (var row=0; row<5; row++) {
            for (var col=0; col<7; col++) {
                var colTotal = 0.0;
                $j('.col'+col+' :input').each(function () {
                        colTotal += getNumber($j(this).val()); 
                        console.log('colTotal: '+ colTotal);
                    });
                $j('.day'+row+col).text(colTotal);
            }
        }



        // set weekly totals
        $j('.weekTotal0').text(
                getNumber($j('.day00').text()) +
                getNumber($j('.day10').text()) +
                getNumber($j('.day20').text()) +
                getNumber($j('.day30').text()) +
                getNumber($j('.day40').text())
            );
    }



    // Confirm that the given time entry text box contains a number of hours between 0 and 24.
    function CheckHours(elem) {
        var value = elem.value;
        value = value.replace(/^s+|\s+$/g,""); // trim
        if (value != '') {
            if (value - 0 == value) {
                // It's a number
                if (value < 0 || value > 24) {
                    alert('Enter a number between 0 and 24.');
                    window.setTimeout('document.getElementById("' + elem.id + '").focus();',100);
                    return false;
                }
                value = value - Math.floor(value);
                if (value != 0 && value != .25 && value != .5 && value != .75) {
                    alert('Enter numbers in quarter-hour increments.');
                    window.setTimeout('document.getElementById("' + elem.id + '").focus();',100);
                    return false;
                }
            }
            else {
                // It's not a number
                alert('Enter a number between 0 and 24.');
                window.setTimeout('document.getElementById("' + elem.id + '").focus();',100);
                return false;
            }
        }
        
        return true;
    }



 	// check if SF1, return link appropriately
 	function getLink(link) {
		try {
		    if(sforce.one) {
			    sforce.one.navigateToSObject(link);
		    }
		} 
		catch(err) { 
		    console.log(err);
		    document.location = '/' + link; 
		} 
 	}


    function getNumber (input) {
        console.log('getNumber, input: '+ input);
        if (input === undefined || input === null || input === '') {
            return 0.0;
        }
        else {
            return Number(input);
        }
    }

	String.prototype.endsWith = function(suffix) {
	    return this.indexOf(suffix, this.length - suffix.length) !== -1;
	};

	// contains()
	//
    if (!('contains' in String.prototype)) {
		String.prototype.contains = function(str, startIndex) {
			return ''.indexOf.call(this, str, startIndex) !== -1;
		};
	}

    //------------------------------------------------------
    // format number to integer with commas
    // decimal_sep: character used as decimal separator, it defaults to '.' when omitted
    // thousands_sep: char used as thousands separator, it defaults to '' when omitted
    //------------------------------------------------------
    Number.prototype.formatNumber = function(decimals, decimal_sep, thousands_sep) {
       var n = isNaN(this) ? 0 : this,
       c = isNaN(decimals) ? 2 : Math.abs(decimals), //if decimal is zero we must take it, it means user does not want to show any decimal
       d = decimal_sep || '.', //if no decimal separator is passed we use the dot as default decimal separator (we MUST use a decimal separator)
    
       // according to [http://stackoverflow.com/questions/411352/how-best-to-determine-if-an-argument-is-not-sent-to-the-javascript-function]
       // the fastest way to check for not defined parameter is to use typeof value === 'undefined' 
       // rather than doing value === undefined.
       t = (typeof thousands_sep === 'undefined') ? '' : thousands_sep, //if you don't want to use a thousands separator you can pass empty string as thousands_sep value
    
       //extracting the absolute value of the integer part of the number and converting to string
       i = parseInt(n = Math.abs(n).toFixed(c)) + '', 
    
       j = ((j = i.length) > 3) ? j % 3 : 0; 
       return (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ''); 
    }   
    
    


</script>

</apex:component>