<apex:page standardController="Slip__c" 
    extensions="SlipAdjustments_Controller"
    docType="html-5.0"
    showHeader="false"
    cache="false"
    applyBodyTag="false"
    applyHtmlTag="false"
    standardStylesheets="false"
    >

<html>
<head>
<title>Slip Adjustment Page</title>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- jQuery Mobile 
<apex:includeScript value="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"  />
--> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<apex:stylesheet value="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<apex:includeScript value="https://code.jquery.com/jquery-2.1.3.min.js"/>

<c:SlipAdjustmentsJS slipId="{!theSlip.Id}" />
<c:SlipAdjustmentsCSS />
<!-- <c:HoursInputDialog /> -->



<style>
    #hoursInput {width:265px;border:2px solid black;border-radius:5px;text-align:right;padding:5px 25px;font-size:18px;}
    .numberInputTable td {text-align:center;background:white;border-radius:8px;border:2px solid black;}
    .numero {font-size:42px;width:80px;height:75px;}
    .zero {font-size:42px;width:80px;height:75px;}
    .point {font-size:42px;font-weight:bold;width:80px;height:75px;}
    .pointfive {font-size:36px;width:80px;height:75px;}
    .del {font-size:20px;width:120px;height:75px;}
    .clear {font-size:20px;width:120px;height:75px;}
    .done {font-size:20px;width:120px;height:75px;}

</style>


<script>
    $j = jQuery.noConflict();

	// global variables
	var adjustHoursBy = 'Role';
	var currentTab = 'Labor';
	var showPricing = {!showPricing};
	console.log('showPricing: '+ showPricing);
	var markup = getNumber({!theSlip.T_M_Materials_Markup__c});
	var certifiedPayroll = {!theSlip.Certified_Payroll__c};




$j(document).on('pagebeforecreate',function(){console.log('pagebeforecreate');});
$j(document).on('pagecreate',function(){console.log('pagecreate');});
$j(document).on('pageinit',function(){console.log('pageinit');});
$j(document).on('pagebeforehide',function(){console.log('pagebeforehide');});
$j(document).on('pagebeforeshow',function(){console.log('pagebeforeshow');});
$j(document).on('pageremove',function(){console.log('pageremove');});
$j(document).on('pageshow',function(){console.log('pageshow');});
$j(document).on('pagehide',function(){console.log('pagehide');});
$j(window).load(function () {console.log("window loaded");});
$j(window).unload(function () {console.log("window unloaded");});
$j(function () {console.log('document ready');});


//$j( window ).on( "orientationchange", function( event ) { alert( "This device is in " + event.orientation + " mode" ); });

//$j(window).unload(function () { debugger; console.log("window unloaded");}); 


	//$( document ).delegate("#aboutPage", "pageinit", function() {
	 // alert('A page with an id of "aboutPage" was just created by jQuery Mobile!');
	//});
String.prototype.startsWith = function(prefix) {
    return this.indexOf(prefix) === 0;
}
String.prototype.endsWith = function(suffix) {
    return this.indexOf(suffix, this.length - suffix.length) !== -1;
};


    //$j(document).ready(function() {
    $j(document).on( "pageinit", function() {
		console.log('loading event...');
    
    	//$j('#navheader').text('wid: '+document.body.clientWidth+', hgt: '+document.body.clientHeight);
    	console.log('document.body.clientHeight: '+document.body.clientHeight);	
    	if (document.body.clientHeight == 100) {
    		console.log('show card');
    		$j('#mobileCard').show();
    		$j('#mobileCardTable').css('height', document.body.clientHeight);
    		$j('#mainpage').hide();
    		//$j('#spantext').text(document.body.clientHeight);
    	}
    	
    	buildLaborTables('{!laborData}');

//    	buildEmployeeTable('{!employeeData}');
//    	console.log('employeeData: {!employeeData}');

    	buildProductTable('{!productData}');
    	addMaterials('{!materials}');

    	buildOtherTable('{!otherData}');

		//$j.mobile.showPageLoadingMsg("a", "No spinner", true);
		//$j.mobile.loading( "hide" );
		
		$j("#tabs, #rolesubtabs").tabs();
		
		$j( "#cancelbutton" ).click(function(event, ui) {
			console.log('click savebutton');
			goToSlip();
		});

		$j( "#saveclosebutton" ).click(function(event, ui) {
			console.log('saveclose');
			saveData();
			goToSlip();
		});
		
		
		$j("input[name='radio-choice-materials']").bind( "change", function(event, ui) {
			if ($j(this).val() === 'std') {
	        	$j('#productTableStandard').show();
	        	$j('#productTableCustom').hide();
			}
			else {
	        	$j('#productTableStandard').hide();
	        	$j('#productTableCustom').show();
			}
		});
		
		if (certifiedPayroll) {
			//$j('#roleEmployeeRadio').hide();
			$j('[name="radio-choice-labor"]').each(function(){
			        $j(this).attr('disabled','disabled').checkboxradio('refresh');                                
			    });
			//TODO $j('.markupClickSpan').off('click');
		}
		else {
			$j("input[name='radio-choice-labor']").bind( "change", function(event, ui) {
				if ($j(this).val() === 'role') {
		        	$j('#roleTable').show();
		        	$j('#employeeTable').hide();
		        	adjustHoursBy = 'Role';
				}
				else {
		        	$j('#roleTable').hide();
		        	$j('#employeeTable').show();
		        	adjustHoursBy = 'Employee';
				}
			});
		}
		

///////////
		// add handlers for hours number pad buttons
		$j('.numero').click(function() {
			var click = $j(this).text();
			var input = $j('#hoursInput').val();
			//alert('click, click: '+click+', parseFloat(click): '+parseFloat(click)+', input: '+input+', parseFloat(input): '+parseFloat(input)+', isNaN(input): '+isNaN(input)+', input.endsWith(.5): '+input.endsWith('.5'));
			if (!isNaN(input)) {
				//alert('input: '+ input+', click: '+click+', input+click: '+(input + '' + click));
				if ((dialogType === 'hours' && parseFloat(input) == 0) || input === undefined || input === '') {
					$j('#hoursInput').val(click).trigger('refresh');
				} 
				else if(dialogType !== 'hours' || (dialogType === 'hours' && !input.endsWith('.0') && !input.endsWith('.5'))) {
					//alert('input: '+ input+', click: '+click+', input+click: '+(input + '' + click));
					$j('#hoursInput').val(input + '' + click).trigger('refresh');
				}
			}
		});
		
		$j('.pointfive').click(function(){
			var val = $j('#hoursInput').val();
			console.log('val: '+val);
			if (dialogType === 'hours') {
				if (!isNaN(val) && val.length > 0) {
					if (!val.endsWith('.5') && parseFloat($j('#hoursInput').val()) >= 0) {
						$j('#hoursInput').val(parseFloat($j('#hoursInput').val()) +.5);
					}
				}
				else {
					$j('#hoursInput').val('.5');
				}
			}
		});

		$j('.point').click(function(){
			var val = $j('#hoursInput').val();
			console.log('val: '+val);
			if (dialogType === 'decimal') {
				if (val === undefined || val === '') {//TODO - contains
					$j('#hoursInput').val('.');
				}
				else {
					$j('#hoursInput').val(parseFloat($j('#hoursInput').val()) +'.');
				}
			}
		});

		
		     $j('.del').click(function() {
		     	var val = $j('#hoursInput').val();
		     	if (val.endsWith('.5') && dialogType === 'hours') {
		         $j('#hoursInput').val($j('#hoursInput').val().substring(0,$j('#hoursInput').val().length - 2));      		
		     	}
		     	else {
		         $j('#hoursInput').val($j('#hoursInput').val().substring(0,$j('#hoursInput').val().length - 1));
		     	}
		     });
		     
		     $j('.clear').click(function(){
		         $j('#hoursInput').val('');
		     });
		     
		$j('.zero').click(function(){
			if (!isNaN($j('#hoursInput').val()) && !$j('#hoursInput').val().endsWith('.5')) {
				if (parseFloat($j('#hoursInput').val()) != 0 ) {
					$j('#hoursInput').val($j('#hoursInput').val() + $j(this).text());
				}
			}
		});

	$j('.done').click(function(){
		closeDialog();
	});
		     
///////////




    });
    
    function saveAndClose() {
    	saveData();
    	goToSlip();
    }
    
    function goToSlip() {
		if ( (typeof sforce != 'undefined') && (sforce != null) ) {
			sforce.one.navigateToSObject('{!slip__c.Id}');
		}
		else {
			window.location.href = '/{!slip__c.Id}';
		}
    }

$j(document).on('pageinit',function(){console.log('pageinit');
		console.log('adjustHoursBy: '+adjustHoursBy);
		if (adjustHoursBy === 'Employee') {
			$j('#radio-choice-labor-rol').prop( "checked", false ).checkboxradio( "refresh" );
			$j('#radio-choice-labor-emp').prop( "checked", true ).checkboxradio( "refresh" );
	       	$j('#roleTable').hide();
        	$j('#employeeTable').show();
		}
});


	
	var dialogType;
	var dialogCategory;
	var dialogSubcategory;
	var dialogRow;
	
	// type - hours, decimal, integer
	// category - role, employee, material, other
	// subcategory - adjusted, laborrate, quantity
	// row - e.g. roleinput00, product6, etc.
	// title - 
	function openDialog(type, category, row, title) {
		dialogType = type;
		dialogCategory = category;
		//dialogSubcategory = subcategory;
		dialogRow = row;
		$j('#numberInputTitle').text(title);
		var val = $j('.'+dialogCategory, '.'+dialogRow).text();
		if (isNaN(val) || getNumber(val) == 0.0) {
			val = '';
		}
		
		$j('#hoursInput').val(val);
		if (dialogType === 'hours') {
			$j('.point').text('');
			$j('.pointfive').text('.5');
		}
		else if (dialogType === 'decimal') {
			$j('.point').text('.');
			$j('.pointfive').text('');
		}
		else if (dialogType === 'integer') {
			$j('.point').text('');
			$j('.pointfive').text('');
		}

		// open popup with desired transition
	    $j("#popupLogin").popup("open", {
	        "transition": "pop"
	    });
	}

	function closeDialog() {
		console.log('closeDialog, dialogRow: '+dialogRow+', dialogCategory: '+dialogCategory);
		var adj = getNumber($j('#hoursInput').val());
		if (dialogType === 'hours') {
			adj = adj.formatInteger(1);
		}
		else if (dialogType === 'decimal') {
			adj = adj.formatInteger(2);
		}
		else if (dialogType === 'integer') {
			adj = adj.formatInteger(0);
		}
		$j('#hoursInput').val($j('.'+dialogCategory, '.'+dialogRow).text(adj));

	    $j("#popupLogin").popup("close", {
	        "transition": "pop"
	    });

		if (showPricing) {
			
			if (dialogRow.startsWith('role')) {
				var hrs = $j('.adjusted', '.'+dialogRow).text();
				var rat = $j('.laborrate', '.'+dialogRow).text();
				var rowsub = hrs * rat;
				$j('.subtotal', '.'+dialogRow).text(rowsub.formatInteger(2));
				
				var section = dialogRow.substr(0, dialogRow.length-1);
				console.log('recalc for section: '+section);
				var sectiontotal = 0.0;
				$j('.adjusted', '.'+section).each(function() {
					sectiontotal += getNumber($j(this).text());
				});
				$j('.'+section+'total').text(sectiontotal.formatInteger(1));

				var sub = 0.0;
				$j('.roleinput').each(function() {
					console.log('row sub: '+$j('.subtotal', this).text());
					sub += getNumber($j('.subtotal', this).text());
					console.log('sub: '+sub);
				});
				$j('.roleSubtotal').text(sub.formatInteger(2));
				var marPercent = getNumber($j('span.roleMarkupPercent').text())/100.0;//TODO
				var mar = sub * marPercent;
				$j('.roleMarkup').text(mar.formatInteger(2));
				var gt = sub + mar;
				$j('.roleGrandTotal').text(gt.formatInteger(2));
			}
			else if (dialogRow.startsWith('employee')) {
				var hrs = $j('.adjusted', '.'+dialogRow).text();
				var rat = $j('.laborrate', '.'+dialogRow).text();
				var rowsub = hrs * rat;
				$j('.subtotal', '.'+dialogRow).text(rowsub.formatInteger(2));
				var sub = 0.0;

				var section = dialogRow.substr(0, dialogRow.length-1);
				console.log('recalc for section: '+section);
				var sectiontotal = 0.0;
				$j('.adjusted', '.'+section).each(function() {
					sectiontotal += getNumber($j(this).text());
				});
				$j('.'+section+'total').text(sectiontotal.formatInteger(1));

				$j('.employeeinput').each(function() {
					sub += getNumber($j('.subtotal', this).text());
				});
				$j('.employeeSubtotal').text(sub.formatInteger(2));
				var marPercent = getNumber($j('span.employeeMarkupPercent').text())/100.0;
				var mar = sub * marPercent;
				$j('.employeeMarkup').text(mar.formatInteger(2));
				var gt = sub + mar;
				$j('.employeeGrandTotal').text(gt.formatInteger(2));
			}
			else if (dialogRow.startsWith('product')) {
				if (dialogCategory === 'linemarkup' && adj != 0.0) {
					materialsUseLineitemMarkup = true;
					$j('span.materialsMarkupPercent').text('set by line item');
					$j('.materialMarkupPercentSign').hide();
					$j('.productrow').each(function() {
						var rowmar =  $j('.linemarkup', this).text();
						if (rowmar === undefined || rowmar === '') $j('.linemarkup', this).text('0.00');
					});
				}
				else if (dialogCategory === 'materialsMarkupPercent') {
					$j('.materialMarkupPercentSign').show();
					materialsUseLineitemMarkup = false;
					materialsMarkup = getNumber(adj);
					$j('.productrow').each(function() {
						$j('.linemarkup', this).text('');
					});

					// if setting the material overall markup, need to update the other charges overall markup as well
					if (!otherUseLineitemMarkup) {
						$j('span.otherMarkupPercent').text(materialsMarkup);
						recalcOtherCharges();
					}
				}
				
				recalcMaterials();
			}
			else if (dialogRow.startsWith('other')) {
				if (dialogCategory === 'markup' && adj != 0.0) {
					// we set the markup on one of the line items
					// clear the overall markup
					otherUseLineitemMarkup = true;
					$j('span.otherMarkupPercent').text('set by line item');
					$j('span.otherMarkupPercentSubcontractor').text('set by line item');
					$j('.otherMarkupPercentSign').hide();
					$j('.otherrow').each(function() {
						var rowmar =  $j('.markup', this).text();
						if (rowmar === undefined || rowmar === '') $j('.markup', this).text('0.00');
					});
				}
				else if (dialogCategory === 'otherMarkupPercent' || dialogCategory === 'otherMarkupPercentSubcontractor') {
					// we set one of the overall markups
					// clear any line item markups
					$j('.otherMarkupPercentSign').show();
					otherUseLineitemMarkup = false;
					$j('.otherrow').each(function() {
						$j('.markup', this).text('');
					});

					if (dialogCategory === 'otherMarkupPercent') {
						materialsMarkup = getNumber(adj);
						$j('span.otherMarkupPercentSubcontractor').text(otherMarkupSubcontractor);
						// need to update the material overall markup as well
						if (!materialsUseLineitemMarkup) {
							$j('span.materialsMarkupPercent').text(materialsMarkup);
							recalcMaterials();
						}
					}
					else if (dialogCategory === 'otherMarkupPercentSubcontractor') {
						otherMarkupSubcontractor = getNumber(adj);
						$j('span.otherMarkupPercent').text(materialsMarkup);
					}

				}

				recalcOtherCharges();
			}
	
		}

	}

	function recalcMaterials() {
		var markup = (materialsUseLineitemMarkup ? 0.0 : materialsMarkup);

		var sub = 0.0;
		$j('.productrow').each(function() {
			var qty = $j('.quantity', this).text();
			var listPrice = getNumber($j('.listprice', this).text());
			var lineMarkupPercent = (materialsUseLineitemMarkup ? getNumber($j('.linemarkup', this).text()) : 0.0);
			var salespr = ((lineMarkupPercent + 100.0) / 100.0 ) * listPrice;
			$j('.productsalesprice', this).text(salespr.formatInteger(2));
			var rowsub = qty * salespr;
			$j('.productsubtotal', this).text(rowsub.formatInteger(2));
			sub += rowsub;
		});
		console.log('recalc, materialsUseLineitemMarkup: '+materialsUseLineitemMarkup+', markup: '+markup+', materialsMarkup: '+materialsMarkup);
		$j('.materialsSubtotal').text(sub.formatInteger(2));
		var mar = sub * markup / 100.0;
		$j('.materialsMarkup').text(mar.formatInteger(2));
		var tax = sub * .0625;
		$j('.materialsTax').text(tax.formatInteger(2));
		var tot = sub + mar + tax;
		$j('.materialsTotal').text(tot.formatInteger(2));
	}

	function recalcOtherCharges() {
		var nonsubcontractorSubtotal = 0.0;
		var subcontractorSubtotal = 0.0;

		$j('.otherrow').each(function() {
			var price = getNumber($j('.cost', this).text());
			var lineMarkupPercent = (otherUseLineitemMarkup ? getNumber($j('.markup', this).text()) : 0.0);
			var rowsub = ((lineMarkupPercent + 100.0) / 100.0 ) * price;
			$j('.subtotal', this).text(rowsub.formatInteger(2));
			var ctyp = $j('.ctyp option', this).filter(":selected").val();
			console.log('recalcOtherCharges, ctyp: '+ctyp);
			if (ctyp.startsWith('Subcontractor')) {
				subcontractorSubtotal += rowsub;
				console.log('recalcOtherCharges, ctyp startsWith Subcontractor');
			}
			else {
				nonsubcontractorSubtotal += rowsub;
			} 
		});
		var sub = subcontractorSubtotal + nonsubcontractorSubtotal;
		$j('.otherSubtotal').text(sub.formatInteger(2));
		var markup = (otherUseLineitemMarkup ? 0.0 : materialsMarkup);
		var mar = nonsubcontractorSubtotal * markup / 100.0;
		$j('.otherMarkup').text(mar.formatInteger(2));
		var subcontractormarkup = (otherUseLineitemMarkup ? 0.0 : getNumber($j('span.otherMarkupPercentSubcontractor').text()));
		var submar = subcontractorSubtotal * subcontractormarkup / 100.0;
		$j('.otherMarkupSubcontractor').text(submar.formatInteger(2));
		var tot = sub + mar + submar;
		$j('.otherTotal').text(tot.formatInteger(2));
	}

   	// check if SF1, return link appropriately
   	function getLink(link) {
		try {
		    if(sforce.one) {
			    sforce.one.navigateToSObject(link);
		    }
		} 
		catch(err) { 
		    console.log(err);
		    document.location = '/' + link; 
		} 
   	}


</script>

<apex:includeScript value="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"/>

</head>

<body>

<!-- 
<div id="commandbuttons" style="width:100%;text-align:center;" >
<div style="display:inline-block;min-width:800px;">
<input type="button" value="Save"           style="width:300px;float:left;" />
<input type="button" value="Save and Close" style="width:300px;float:right;" />
</div>
</div>
 -->

<div id="overall" data-role="page">

<div data-role="content" style="padding:0px;"> 

<div id="mobileCard" style="width:100%;display:none;" >
<table id="mobileCardTable" style="">
<tr>
<td style="padding:3px 25px;" ><div style="width:50px;height:50px;background:lightgreen;border-radius:5px;" /></td>
<td>Slip Adjustments<span>&nbsp;&nbsp;&nbsp;<span id="spantext"></span></span></td>
</tr>
</table>
</div>



<div id="mainpage" >

<form>

<div class="ui-header ui-bar-inherit" role="banner" data-role="header">
  <a role="button" data-role="button" class="ui-link ui-btn-left ui-btn ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all" data-icon="delete" href="javascript:goToSlip();" >Cancel</a>
  <a role="button" data-role="button" class="ui-link ui-btn-left ui-btn ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" data-icon="check" href="javascript:saveData();" style="margin-left:100px;" >Save</a>
  <h1 aria-level="1" role="heading" class="ui-title" id="navheader"></h1>  
  <a role="button" data-role="button" class="ui-link ui-btn-right ui-btn ui-btn-b ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" data-icon="back" data-theme="b" href="javascript:saveAndClose();" >Save and Close</a>
</div>

<div class="ui-body-d ui-content" style="width:100%;text-align:left;padding:0px 0px 0px 10px;" >
<div style="display:inline-block;">
<table class="ui-body-d ui-shadow table-stripe" style="width:400px;margin-top:10px;text-align:left;">
<tr>
<th>Slip Number:</th><td><a href="{!slipNameLink}"  rel="external" data-ajax="none" style="text-decoration:none;" >{!theSlip.Name}</a></td>
</tr>
<tr>
<th>Slip Status:</th><td>{!theSlip.Slip_Status__c}</td>
</tr>
<tr>
<th>Service Date:</th><td>{!serviceDate}</td>
</tr>
<tr>
<th>Work Ordered By:</th><td>{!theSlip.Work_Ordered_By__r.Name}</td>
</tr>
<tr>
<th>Job Name:</th><td><a href="{!jobNameLink}"  rel="external" data-ajax="none" style="text-decoration:none;" >{!theSlip.Job_Name__r.Name}</a></td>
</tr>
<tr>
<th>Job Number:</th><td>{!theSlip.Job_Name__r.Job_Number__c}</td>
</tr>
</table>
</div>
</div>

<!-- 
<a href="#popupLogin" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" aria-haspopup="true" aria-owns="popupLogin" aria-expanded="false" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" role="button">Test Dialog</a>
-->
<!-- data-history had to be set to false or popup would not close on iPad/SF1 -->
<div class="ui-popup-screen ui-overlay-inherit ui-screen-hidden" id="popupLogin-screen"></div>
<div class="ui-popup-container ui-popup-hidden ui-popup-truncate" id="popupLogin-popup"
><div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow" data-history="false">
				<div style="padding:10px 20px;">
				  <h3 id="numberInputTitle" style="max-width:395px;">Enter Hours</h3>
<!------------------------------------>
<!-- HOURS ENTRY DIALOG             -->
<!------------------------------------>
    <div id="hoursEntryDialog" style="background:white;">
        <div class="hoursEntryDialogDetails">
	    <input style="background: white; color: black;width:100%;" type="text" readonly="readonly" id="hoursInput"/>
	    <table class="numberInputTable" id="n_keypad" style="">
	    <tr>
	       <td data-role="button" data-theme="b" class="numero">7</td>
	       <td data-role="button" data-theme="b" class="numero">8</td>
	       <td data-role="button" data-theme="b" class="numero">9</td>
	       <td data-role="button" data-theme="e" class="del">Delete</td>
	    </tr>
	    <tr>
	       <td data-role="button" data-theme="b" class="numero">4</td>
	       <td data-role="button" data-theme="b" class="numero">5</td>
	       <td data-role="button" data-theme="b" class="numero">6</td>
	       <td data-role="button" data-theme="e" class="clear">Clear</td>
	    </tr>
	    <tr>
	       <td data-role="button" data-theme="b" class="numero">1</td>
	       <td data-role="button" data-theme="b" class="numero">2</td>
	       <td data-role="button" data-theme="b" class="numero">3</td>
	       <td data-role="button" data-theme="e">&nbsp;</td>
	    </tr>
	    <tr>
	       <td data-role="button" data-theme="b" class="point">.</td>
	       <td data-role="button" data-theme="e" class="zero">0</td>
	       <td data-role="button" data-theme="e" class="pointfive">.5</td>
	       <td data-role="button" data-theme="e" class="done">Done</td>
	    </tr>
	    </table>        
    </div>
    </div>

		    	  <!-- <button type="submit" data-theme="b" class=" ui-btn ui-btn-b ui-shadow ui-corner-all">Sign in</button>  -->
				</div>
		</div></div>


<!-- 
<div data-role="header">
  <a href="" id="cancelbutton" data-icon="delete">Cancel</a>
  <h1 id="navheader"></h1>
  <a href="" id="saveclosebutton" data-icon="check" data-theme="b">Save and Close</a>
</div>
 -->

<div role="main" class="ui-content">


<div data-role="tabs" id="tabs" >

<div data-role="navbar" >
<ul>
<li><a href="#hours" class="ui-btn-active" >Labor</a></li>
<li><a href="#materials" >Materials</a></li>
<li><a href="#othercharges" >Other Charges</a></li>
</ul>
</div>

<div id="hours" class="ui-body-d ui-content" style="width:100%;text-align:center;padding:0px;" >
<div style="display:inline-block;min-width:768px;">

<div style="font-weight:bold;font-size:125%;padding:25px;width:768px;" id="certifiedPayrollText">Reminder: This is a certified payroll job.</div>

<div id="roleEmployeeRadio" class="ui-body-d ui-content">
<fieldset data-role="controlgroup" data-type="horizontal">
    <input type="radio" name="radio-choice-labor" id="radio-choice-labor-rol" value="role" checked="checked"/>
    <label for="radio-choice-labor-rol">Adjust By Role</label>
    <input type="radio" name="radio-choice-labor" id="radio-choice-labor-emp" value="emp"/>
    <label for="radio-choice-labor-emp">Adjust By Employee</label>
</fieldset>
</div>

<div class="ui-body-d ui-content">
<table id="roleTable" class="adjust">
<tr>
<th class="level1 left">Role</th>
<th class="level1 center">Actual</th>
<th class="level1 center">Adjusted</th>
<th class="level1 center showpricing">Rate</th>
<th class="level1 center showpricing">Subtotal</th>
</tr>
<tr class="rolereplace"></tr>
<tr class="showpricing">
<td colspan="3" class="level3 right" >Subtotal</td>
<td class="level3 right roleSubtotal" colspan="2"></td>
</tr>
<tr class="showpricing roleMarkupPercent">
<td colspan="3" class="level3 right" ><span class="markupClickSpan" onclick="openDialog('decimal', 'roleMarkupPercent', 'roleMarkupPercent', 'Labor Markup');" style="background:lightyellow;">Markup&nbsp;(<span class="roleMarkupPercent"></span>&#37;)</span></td>
<td class="level3 right roleMarkup" colspan="2"></td>
</tr>
<tr class="showpricing">
<td colspan="3" class="level3 right" >Labor Total</td>
<td class="level3 right roleGrandTotal" colspan="2"></td>
</tr>
</table>



<table id="employeeTable" class="adjust" style="display:none;">
<tr>
<th class="level1 left">Employee</th>
<th class="level1 center">Actual</th>
<th class="level1 center">Adjusted</th>
<th class="level1 center laborPricing">Rate</th>
<th class="level1 center laborPricing">Subtotal</th>
</tr>
<tr class="employeereplace"></tr>
<tr class="showpricing">
<td colspan="3" class="level3 right" >Subtotal</td>
<td class="level3 right employeeSubtotal" colspan="2"></td>
</tr>
<tr class="showpricing employeeMarkupPercent">
<td colspan="3" class="level3 right" ><span class="markupClickSpan" onclick="openDialog('decimal', 'employeeMarkupPercent', 'employeeMarkupPercent', 'Labor Markup');" style="background:lightyellow;">Markup&nbsp;(<span class="employeeMarkupPercent"></span>&#37;)</span></td>
<td class="level3 right employeeMarkup" colspan="2"></td>
</tr>
<tr class="showpricing">
<td colspan="3" class="level3 right" >Labor Total</td>
<td class="level3 right employeeGrandTotal" colspan="2"></td>
</tr>
</table>
</div>
</div>
</div>




<div id="materials" class="ui-body-d ui-content">

<div style="width:100%;text-align:center;padding:0px;" >
<div style="display:inline-block;min-width:768px;">
<fieldset data-role="controlgroup" data-type="horizontal">
    <input type="radio" name="radio-choice-materials" id="radio-choice-materials-a" value="std" checked="checked"/>
    <label for="radio-choice-materials-a">Standard</label>
    <input type="radio" name="radio-choice-materials" id="radio-choice-materials-b" value="cust"/>
    <label for="radio-choice-materials-b">Custom</label>
</fieldset>
</div>
</div>
<div style="width:100%;text-align:center;" >
<div style="display:inline-block;">

<table id="productTableStandard" class="bodytable" style="">
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Family *</td>
	<td>
	<select id="famselect" class="productselect">
		<option value=""></option>
		</select>
	</td>
	</tr>
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;" >Type</td>
	<td>
	<select id="typselect" class="productselect">
		<option value=""></option>
		</select>
	</td>
	</tr>
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;" >Subtype</td>
	<td>
	<select id="subselect" class="productselect">
		<option value=""></option>
		</select>
	</td>
	</tr>
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Name *</td>
	<td>
	<select id="namselect" class="productselect">
		<option value=""></option>
		</select>
	</td>
	</tr>
<tr class="prodqtystd">
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Quantity *</td>
	<td id="prodqtystd" class="prodqtystd inputnum" onclick="openDialog('integer', 'prodqtystd', 'prodqtystd', 'Quantity');" style="width:500px;border-radius:5px;" >
		</td>
	</tr>
<tr>
	<td colspan="2" >&nbsp;</td>
	</tr>
<tr>
	<td colspan="2" >
	<table style="width:100%;border-collapse:collapse;">
	<tr>
		<td style="width:50%;"><input type="button" id="clrprodbutton" value="Clear" onclick="clearProductInputs();" /></td>
		<td style="width:50%;"><input type="button" id="addprodbutton" value="Add Selected" onclick="addSelectedProduct();" /></td>
		</tr>
		</table>
		</td>
	</tr>
<tr>
	<td colspan="2" >&nbsp;</td>
	</tr>
</table>


<table id="productTableCustom" class="bodytable" style="display:none;">
<!-- 
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Family *</td>
	<td id="prodfamtd"><div id="prodfamdiv" ></div>
		</td>
	</tr>
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;" >Type</td>
	<td id="prodtyptd"><div id="prodtypdiv" ></div></td>
	</tr>
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;" >Subtype</td>
	<td id="prodsubtd"><div id="prodsubdiv" ></div></td>
	</tr>
 -->
<tr>
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Name *</td>
	<td id="prodnamtd"><div id="prodnamdiv" ></div></td>
	</tr>
<tr class="prodqty">
	<td style="text-align:left;font-size:125%;padding-right:5px;color:red;" >Quantity *</td>
	<td id="prodqty" class="prodqty inputnum" onclick="openDialog('integer', 'prodqty', 'prodqty', 'Quantity');" style="width:500px;border-radius:5px;" >
		<!-- <input id="prodqty" style="height:50px;text-align:right;padding-right:20px;" data-clear-btn="true" placeholder="enter quantity, e.g. 100" /> -->
		</td>
	</tr>
<tr>
	<td colspan="2" >&nbsp;</td>
	</tr>
<tr>
	<td colspan="2" >
	<table style="width:100%;border-collapse:collapse;">
	<tr>
		<td style="width:50%;"><input type="button" id="clrprodbutton" value="Clear" onclick="clearProductInputsCustom();" /></td>
		<td style="width:50%;"><input type="button" id="addcustbutton" value="Add Custom" onclick="addCustomProduct();" /></td>
		</tr>
	<tr>
		<td colspan="2" >&nbsp;</td>
		</tr>
	</table>
	</td>
	</tr>
</table>





<table id="materialsTable" style="width:100%;border-collapse:collapse;">
<tr class="materialheader">
	<td colspan="7" style="font-size:150%;background:#edf3e6;padding:10px;" >Materials on Slip</td>
	</tr>
<tr class="materialheader">
	<td style="width:75px;padding:8px;" ></td>
	<td style="width:300px;padding:8px;" >Name</td>
	<td style="width:100px;padding:8px;" >Quantity</td>
	<td class="showpricing" style="width:100px;padding:8px;" >Cost/Unit</td>
	<td class="showpricing" style="width:100px;padding:8px;" >Line-Item Markup</td>
	<td class="showpricing" style="width:100px;padding:8px;" >Sales Price</td>
	<td class="showpricing" style="width:100px;padding:8px;" >Subtotal</td>
	</tr>
<tr class="productinsertrow">
	</tr>
<tr class="showpricing">
<td colspan="6" class="level3 right" >Materials Subtotal</td>
<td class="level3 right materialsSubtotal" colspan="1"></td>
</tr>
<tr class="showpricing productMarkupPercent">
<td colspan="6" class="level3 right" ><span onclick="openDialog('decimal', 'materialsMarkupPercent', 'productMarkupPercent', 'Materials Markup (will clear any Line-Item Markup values)');" style="background:lightyellow;">Markup&nbsp;(<span class="materialsMarkupPercent"></span><span class="materialMarkupPercentSign">%</span>)</span></td>
<td class="level3 right materialsMarkup" colspan="1"></td>
</tr>
<tr class="showpricing">
<td colspan="6" class="level3 right" >Tax ({!tax}%)</td>
<td class="level3 right materialsTax" colspan="1"></td>
</tr>
<tr class="showpricing">
<td colspan="6" class="level3 right" >Materials Total</td>
<td class="level3 right materialsTotal" colspan="1"></td>
</tr>
</table>
</div>
</div>

<div style="width:100%;text-align:center;padding:0px;" >
<div style="display:inline-block;min-width:768px;">
</div>
</div>




</div>



<div id="othercharges" class="ui-body-d ui-content" style="padding:16px 0px;">
<div id="other" class="ui-body-d ui-content" style="width:100%;text-align:center;padding:0px;" >
<div style="display:inline-block;max-width:1024px;">

<table id="othertableinput" class="adjust">
<tr>
    <th class="level1"   style="width:40%;" >Charge Type</th>
	<th class="level1"   style="width:60%;" >Description</th>
	</tr>
<tr>
    <td class="chargeTypeTD"   style="" >
    	<select id="chargeType" >
    		<option value="--None--" >--None--</option>
    		<option value="Parking" >Parking</option>
    		<option value="Site Survey" >Site Survey</option>
    		<option value="Bucket Truck" >Bucket Truck</option>
    		<option value="Lift" >Lift</option>
    		<option value="Manhole" >Manhole / Confined Equipment</option>
    		<option value="Asbestos Equipment" >Asbestos Equipment</option>
    		<option value="Safety" >Safety</option>
    		<option value="Subcontractor" >Subcontractor</option>
    		<option value="Other" >Other</option>
    		</select>
    	</td>
		<td style="padding:2px;" ><textarea id="chargeDesc" style="width:97%;" placeholder="enter description" ></textarea></td>
	</tr>
</table>
<table class="adjust" style="border:0px;">
<tr style="border:0px;">
	<td style="width:50%;border:0px;"><input type="button" id="addchargebutton" value="Add Charge" onclick="addCharge();" /></td>
	<td style="width:50%;border:0px;"><input type="button" id="clrchargebutton" value="Clear" onclick="clearChargeInputs();" /></td>
	</tr>
</table>

<br/>

<table id="othertable" class="adjust">
<tr class="chargeheader">
	<td colspan="6" style="font-size:150%;background:#edf3e6;padding:10px;" id="chargerHeaderTD" >Charges on Slip</td>
    </tr>
<tr class="chargeheader">
<th class="level1 left"   style="width:75px;" ></th>
<th class="level1 left"   style="width:300px;" >Type</th>
<th class="level1 left"   style="width:200px;" >Description</th>
<th class="level1 center showpricing price" style="width:75px;" >Price</th>
<th class="level1 center showpricing markup" style="width:75px;" >Line-Item Markup</th>
<th class="level1 center showpricing subtotal" style="width:75px;" >Subtotal</th>
</tr>
<tr class="otherinputrow"></tr>
<tr class="showpricing">
<td colspan="4" class="level3 right" >Subtotal</td>
<td class="level3 right otherSubtotal" colspan="2"></td>
</tr>
<tr class="showpricing otherMarkupPercent">
<td colspan="4" class="level3 right" ><span onclick="openDialog('decimal', 'otherMarkupPercent', 'otherMarkupPercent', 'Other Charges Markup  (will clear any Line-Item Markup values)');" style="background:lightyellow;">Markup&nbsp;(<span class="otherMarkupPercent"></span><span class="otherMarkupPercentSign">%</span>)</span></td>
<td class="level3 right otherMarkup" colspan="2"></td>
</tr>
<tr class="showpricing otherMarkupPercentSubcontractor">
<td colspan="4" class="level3 right" ><span onclick="openDialog('decimal', 'otherMarkupPercentSubcontractor', 'otherMarkupPercentSubcontractor', 'Other Charges Subcontractor Markup  (will clear any Line-Item Markup values)');" style="background:lightyellow;">Subcontractor Markup&nbsp;(<span class="otherMarkupPercentSubcontractor"></span><span class="otherMarkupPercentSign">%</span>)</span></td>
<td class="level3 right otherMarkupSubcontractor" colspan="2"></td>
</tr>
<tr class="showpricing">
<td colspan="4" class="level3 right" >Other Charges Total</td>
<td class="level3 right otherTotal" colspan="2"></td>
</tr>
</table>
</div>
</div>
</div><!-- /othercharges -->


</div>


</div><!-- /content -->

</form>

<div class="ui-header ui-bar-inherit" role="banner" data-role="header">
  <a role="button" data-role="button" class="ui-link ui-btn-left ui-btn ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all" data-icon="delete" href="javascript:goToSlip();" >Cancel</a>
  <a role="button" data-role="button" class="ui-link ui-btn-left ui-btn ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" data-icon="check" href="javascript:saveData();" style="margin-left:100px;" >Save</a>
  <h1 aria-level="1" role="heading" class="ui-title" id="navheader"></h1>  
  <a role="button" data-role="button" class="ui-link ui-btn-right ui-btn ui-btn-b ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" data-icon="back" data-theme="b" href="javascript:saveAndClose();" >Save and Close</a>
</div>

</div><!-- /page -->

</div><!-- /content -->

</div><!-- /overall -->

</body>

</html>
</apex:page>